.pm-l-footer {
  @include themes($footer-themes) {
    @include flex-row(center, center, 1rem);

    padding: $footer-padding-y $footer-padding-x;

    &__terms {
      @include flex-row(center, center);

      &-text-primary {
        color: map-get(themed('text-colors'), 'primary') !important;
      }

      &-text-secondary {
        color: map-get(themed('text-colors'), 'secondary');
      }
    }

    &__credits {
      color: themed('credits-text-color');
    }

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
