.wrapper {
  @include flex-row;

  width: 100%;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;

  @include themed() {
    background-color: t($background);
  }

  transition: background-color 0.3s ease 0s;
}

.vertical-section {
  position: relative;
  @include flex-column(flex-start, center);

  width: 100%;
  max-width: 160rem;
  min-height: 100vh;

  padding: 0rem 2.4rem;
  margin: 0rem auto;
}
