.pm-l-layout {
  @include themes($layout-themes) {
    display: grid;
    max-width: 100%;

    grid-template-areas:
      'nav header header'
      'nav main aside'
      'nav footer aside';
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: auto 1fr auto;

    background-color: themed('background-color');
    transition: all 0.2s ease-in-out 0s;

    &__header {
      grid-area: header;
      z-index: 1000;

      background-color: themed('background-color');
      transition: all 0.2s ease-in-out 0s;
    }

    &__nav {
      grid-area: nav;
    }

    &__main {
      grid-area: main;

      padding: 2.4rem;
    }

    &__aside {
      grid-area: aside;
    }

    &__footer {
      grid-area: footer;

      width: 100%;
      background-color: themed('background-color');
      transition: all 0.2s ease-in-out 0s;
    }
  }
}
