.wrapper {
  display: grid;
  grid-template-rows: 7.2rem 1fr;
  grid-template-columns: auto 1fr;

  min-height: 100vh;

  > aside {
    height: 100%;
  }
}

.header {
  grid-column: 2;
  -ms-grid-column-span: 4;
  grid-row: 1;
}

.main {
  display: flex;
  justify-content: center;
  grid-row: 2;
  grid-column: 2;

  transition: background-color 0.3s ease 0s;

  @include themed() {
    background-color: t($background);
  }
}

.vertical {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
  max-width: 160rem;

  padding: 0rem 2.4rem;
}
