.pm-l-navbar {
  @include themes($navbar-themes) {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;

    width: 100%;
    padding: $navbar-padding-y $navbar-padding-x;

    background-color: themed('background-color');
    transition: $navbar-transitions;

    &__icon {
      zoom: 1;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }

    &__search {
      display: none;
      flex-grow: 1;

      @include breakpoint-to('sm') {
        display: inline;
      }
    }

    &__menu {
      display: none;

      @include breakpoint-to('sm') {
        display: flex;
      }
    }

    &__divider--circle {
      display: inline-block;

      height: 0.4rem;
      width: 0.4rem;
      border-radius: 50%;

      background-color: themed('divider-circle-color');
      transition: $navbar-transitions;
    }

    &__actions {
      display: none;

      @include breakpoint-to('lg') {
        display: flex;
        gap: 1.6rem;
      }

      &-create-market {
        height: 100%;

        &:hover {
          background-color: $gray-500 !important;
        }
      }
    }
  }
}

.pm-l-navbar-dropdown-menu {
  @include themes($navbar-themes) {
    position: relative;
    display: none;

    @include breakpoint-to('lg') {
      display: inline-block;
    }

    &__content {
      display: none;
      position: absolute;
      z-index: 1;
      right: 0;

      padding: $navbar-dropdown-menu-padding-y $navbar-dropdown-menu-padding-x;
      background-color: themed('dropdown-menu-background-color');
      border: 0.1rem solid themed('dropdown-menu-border-color');
      border-radius: $navbar-dropdown-menu-border-radius;
    }

    &:hover {
      .pm-l-navbar-dropdown-menu__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        min-width: 29rem;
      }
    }
  }
}
