.navbar {
  @include flex-row(space-between, center);
  flex-wrap: wrap;
  gap: 1.6rem;
  z-index: 1000;

  padding: 1.6rem 2.4rem;
  background-color: $background-dark;
  transition: background-color 0.3s ease 0s;

  &__icon {
    zoom: 1;

    @include flex-row(flex-start, center);
    padding: 0.65rem 0rem;
    margin-right: 0.8rem;
  }

  .searchbar {
    flex-grow: 1;
  }

  &__actions {
    display: none;
    gap: 1.6rem;

    @include breakpoint-to('lg') {
      display: inline-flex;
    }

    //TODO: create link button
    &-create-market {
      height: 100%;

      &:hover {
        background-color: $gray-500 !important;
      }
    }
  }
}
