.navbar {
  display: flex;
  align-items: center;
  padding: 1.2rem 2.8rem;

  transition: background-color 0.3s ease 0s;

  @include themed() {
    background-color: t($background);
  }

  &__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    zoom: 1;

    padding: 0.65rem 0rem;

    > svg {
      height: 3.5rem;
      width: 2.9rem;
      margin-right: 2.4rem;
    }
  }

  > form {
    flex-grow: 1;
  }
}

.navbar-menu {
  display: inline-flex;
  padding: 0rem;

  margin: 0rem 2rem;

  &__item {
    display: inline;
    padding: 0rem 1.2rem;

    > a {
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;

      transition: color 0.3s ease 0s;

      @include themed() {
        color: t($text-base);

        &:hover {
          color: t($text-hover);
        }
      }
    }
  }

  &__actions {
    display: inline-flex;
    gap: 1.6rem;
  }
}
