.navbar {
  @include flex-row(space-between, center);
  flex-wrap: wrap;
  z-index: 1000;

  padding: 1.6rem 2.8rem;
  background-color: $bg-dark;

  transition: background-color 0.3s ease 0s;

  &__icon {
    zoom: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0.65rem 0rem;

    > svg {
      height: 3.5rem;
      width: 2.9rem;
      margin-right: 2.4rem;
    }
  }

  > form {
    flex-grow: 1;
  }

  &__actions {
    display: none;
    gap: 1.6rem;

    @include breakpoint-to('lg') {
      display: inline-flex;
    }
  }
}
