.pm-l-right-sidebar {
  display: none;

  @include breakpoint-to('md') {
    @include flex-column;
  }

  position: sticky;
  top: 8rem;

  flex-shrink: 0;

  width: fit-content;
  height: calc(100vh - 8rem);

  padding: 1.6rem 2.4rem 2.4rem 0;

  overflow-y: auto;
}
