.pm-l-right-sidebar {
  display: none;

  @include breakpoint-to('md') {
    @include flex-column;
  }

  position: sticky;
  top: $navbar-height;

  flex-shrink: 0;

  width: fit-content;
  height: calc(100vh - #{$navbar-height});

  padding: 2.4rem;
}

.pm-l-right-sidebar--with-notification {
  @extend .pm-l-right-sidebar;

  top: #{$navbar-height + $alert-notification-height};
  height: calc(100vh - #{$navbar-height + $alert-notification-height});
}
