.sidebar {
  display: grid;
  grid-gap: 3.2rem;
  grid-template-rows: 27rem 27rem;

  padding: 3.3rem 3rem;
  width: 38rem;

  background-color: $white;
}

.sidebar-section {
  display: flex;
  flex-direction: column;

  gap: 8px;

  width: 100%;
  background-color: $white;

  &__title {
    font-size: 12px;

    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    position: relative;
  }
}

.sidebar-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 1.75rem 0rem;

  text-decoration: none;
  transition: color 0.2s linear 0s;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1;

    > svg {
      height: 2rem;
      width: 2rem;

      margin-right: 1.8rem;

      fill: $grey-700;
      transition: fill 0.2s linear 0s;
    }
  }

  &__title {
    flex-grow: 1;
    color: $grey-700;

    font-size: 1.4rem;
    font-weight: 600;
  }

  &:hover {
    color: $grey-900;

    > svg {
      fill: $grey-900;
    }
  }

  &--active {
    color: $primary-500;

    > svg {
      fill: $primary-500;
    }
  }
}
