.sidebar {
  @include themes($sidebar-themes) {
    display: none;

    @include breakpoint-to('md') {
      @include flex-column;
    }

    flex-shrink: 0;
    z-index: 1000;

    height: 100vh;
    width: 27.3rem;

    padding: 2rem 2.8rem;

    background-color: themed('background-color');
    filter: themed('shadow');

    transition: all 0.2s ease-in-out 0s;

    &__header {
      padding-bottom: 2rem;

      svg {
        fill: themed('text-color');
        transition: all 0.2s ease-in-out 0s;

        &:hover {
          fill: themed('text-color-hover');
        }
      }
    }

    &__content {
      @include flex-column;

      padding-bottom: 2rem;
      margin-bottom: auto;
    }

    &__separator {
      margin: 1.1rem 0.6rem;

      width: 0.8rem;

      border-color: themed('separator-color');
      border-style: solid;
      border-radius: 5px;
      transition: all 0.2s ease-in-out 0s;
    }

    &__link {
      @include flex-row(flex-start, center);
      gap: 2.4rem;

      font-size: 1.4rem;
      transition: all 0.2s ease-in-out 0s;

      &-title {
      }

      &.active,
      &:hover {
        color: themed('text-color-active');
        transition: all 0.2s ease-in-out 0s;

        svg {
          fill: themed('text-color-active');
          transition: all 0.2s ease-in-out 0s;
        }

        .sidebar__link-counter {
          @extend .label-normal--primary;
        }
      }

      &-counter {
        @extend .label-normal--default, .label-sm;
        margin-left: auto;
      }

      &--lg {
        @extend .sidebar__link;
        font-size: 1.7rem;
      }
    }

    &__footer {
      @include flex-column(center, center);
      gap: 2rem;

      p {
        display: inline;
        overflow: hidden;
        white-space: nowrap;

        color: themed('text-color');
        transition: all 0.2s ease-in-out 0s;
      }
    }

    .menu__item {
      &:hover {
        .sidebar__link {
          color: themed('text-color-hover');
          transition: all 0.2s ease-in-out 0s;

          svg {
            fill: themed('text-color-hover');
            transition: all 0.2s ease-in-out 0s;
          }

          .sidebar__link-counter {
            @extend .label-normal--primary;
          }
        }
      }
    }
  }
}

.sidebar--collapsed {
  @extend .sidebar;
  @include themes($sidebar-themes) {
    width: 8rem;
  }
}
