.sidebar {
  display: grid;
  grid-gap: 3.2rem;
  grid-template-rows: 27rem 27rem;

  padding: 3.3rem 3rem;
  width: 25.4rem;
  height: 100vh;

  transition: background-color 0.3s ease 0s;

  @include themed() {
    background-color: t($sidebar-background);
  }
}

.sidebar-section {
  display: flex;
  flex-direction: column;

  gap: 8px;
  width: 100%;

  &__title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    position: relative;
  }
}

.sidebar-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 1.75rem 0rem;

  text-decoration: none;
  transition: color 0.2s linear 0s;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1;

    > svg {
      height: 2rem;
      width: 2rem;

      margin-right: 1.8rem;

      @include themed() {
        fill: t($text-base);

        &:hover {
          fill: t($text-hover);
        }
      }
    }
  }

  &__title {
    flex-grow: 1;

    @include themed() {
      color: t($text-base);

      &:hover {
        color: t($text-hover);
      }
    }

    font-size: 1.4rem;
    font-weight: 600;
  }

  &--active {
    color: $primary-500;

    > figure > svg {
      fill: $primary-500;
    }
  }
}
