$alert-padding-y: 2.4rem !default;
$alert-padding-x: 2.4rem !default;
$alert-border-width: 0.1rem !default;
$alert-border-left-width: 0.3rem !default;
$alert-border-radius: 0rem 0.4rem 0.4rem 0rem !default;

$alert-mini-padding-y: 2rem !default;
$alert-mini-padding-x: 2rem !default;
$alert-mini-border-radius: 0.4rem !default;

$alert-themes: (
  light: (
    alert-color-default: #8b96a7,
    alert-color-information: #5d55fa,
    alert-color-success: #27ab83,
    alert-color-warning: #f0b429,
    alert-description-color: #171b23,
    alert-background-color: #f8faff,
    alert-border-color: #e0e2e7,
    alert-shadow: drop-shadow(0rem 0rem 1.6rem rgba(0, 35, 121, 0.08)),
    alert-mini-subtle-default-background-color: mix(#ffffff, #8a96a8, 86%),
    alert-mini-subtle-information-background-color: mix(#ffffff, #5d55fa, 85%),
    alert-mini-subtle-success-background-color: mix(#ffffff, #27ab83, 85%),
    alert-mini-subtle-warning-background-color: mix(#ffffff, #f0b429, 85%),
    alert-mini-subtle-error-background-color: mix(#ffffff, #e12d39, 90%),
    alert-mini-agressive-color-default: #171b23,
    alert-mini-agressive-color-information: #ffffff,
    alert-mini-agressive-color-success: #ffffff,
    alert-mini-agressive-color-warning: #ffffff,
    alert-mini-agressive-color-error: #ffffff
  ),
  dark: (
    alert-color-default: #8a96a8,
    alert-color-information: #5d55fa,
    alert-color-success: #27ab83,
    alert-color-warning: #f0b429,
    alert-color-error: #e12d39,
    alert-description-color: #f9fafb,
    alert-background-color: #0e1016,
    alert-border-color: #252c3b,
    alert-shadow: drop-shadow(0rem 0.4rem 2.4rem rgba(0, 0, 0, 0.4)),
    alert-mini-subtle-default-background-color: mix(#000000, #8a96a8, 80%),
    alert-mini-subtle-information-background-color: mix(#000000, #5d55fa, 75%),
    alert-mini-subtle-success-background-color: mix(#000000, #27ab83, 75%),
    alert-mini-subtle-warning-background-color: mix(#000000, #f0b429, 85%),
    alert-mini-subtle-error-background-color: mix(#000000, #e12d39, 75%),
    alert-mini-agressive-color-default: #f9fafb,
    alert-mini-agressive-color-information: #f9fafb,
    alert-mini-agressive-color-success: #f9fafb,
    alert-mini-agressive-color-warning: #0e1016,
    alert-mini-agressive-color-error: #f9fafb
  )
) !default;

$alert-transitions: all 0.2s ease-in-out !default;

$alert-inline-padding-y: 0.8rem !default;
$alert-inline-padding-x: 1.2rem !default;

$alert-inline-subtle-themes: (
  light: (
    background-colors: (
      default: mix(#ffffff, #8a96a8, 85%),
      info: mix(#ffffff, #5d55fa, 85%),
      success: mix(#ffffff, #27ab83, 85%),
      warning: mix(#ffffff, #f0b429, 85%),
      danger: mix(#ffffff, #e12d39, 95%)
    ),
    text-colors: (
      default: #8b96a7,
      info: #5d55fa,
      success: #27ab83,
      warning: #f0b429,
      danger: #e12d39
    ),
    remove-icon-color: #7a7a8a
  ),
  dark: (
    background-colors: (
      default: mix(#000000, #8a96a8, 80%),
      info: mix(#000000, #5d55fa, 75%),
      success: mix(#000000, #27ab83, 75%),
      warning: mix(#000000, #f0b429, 85%),
      danger: mix(#000000, #e12d39, 75%)
    ),
    text-colors: (
      default: #8b96a7,
      info: #5d55fa,
      success: #27ab83,
      warning: #f0b429,
      danger: #e12d39
    ),
    remove-icon-color: #8d8e90
  )
) !default;
