$beta-warning-themes: (
  light: (
    text-colors: (
      primary: #313a4c,
      secondary: #8193ae
    ),
    action-colors: (
      warning: #f0b429
    )
  ),
  dark: (
    text-colors: (
      primary: #f3f4f6,
      secondary: #929293
    ),
    action-colors: (
      warning: #f0b429
    )
  )
) !default;
