$breadcrumb-themes: (
  light: (
    text-primary-color: #313a4c,
    text-secondary-color: #8193ae,
    separator-color: #8193ae
  ),
  dark: (
    text-primary-color: #ffffff,
    text-secondary-color: #929293,
    separator-color: #929293
  )
) !default;
