$button-padding-y: 1.4rem !default;
$button-padding-x: 1.6rem !default;
$button-gap: 0.8rem !default;

$button-sm-padding-y: 1rem !default;
$button-sm-padding-x: 1.4rem !default;
$button-sm-gap: 0.6rem !default;

$button-xs-padding-y: 0.8rem !default;
$button-xs-padding-x: 1.2rem !default;
$button-xs-gap: 0.6rem !default;

$button-border-width: 0.1rem !default;
$button-border-radius: 0.4rem !default;

$button-transitions: all 0.2s ease-in-out !default;

$button-normal-themes: (
  light: (
    background-colors: (
      default: (
        background-color: #b6bdc8,
        background-color-hover: #8b96a7,
        background-color-disabled: mix(#ffffff, #94a2b8, 85%)
      ),
      primary: (
        background-color: #5d55fa,
        background-color-hover: #4d3df7,
        background-color-disabled: mix(#ffffff, #5d55fa, 86%)
      ),
      danger: (
        background-color: #e12d39,
        background-color-hover: #cf1124,
        background-color-disabled: mix(#ffffff, #e12d39, 90%)
      ),
      warning: (
        background-color: #f0b429,
        background-color-hover: #de911d,
        background-color-disabled: mix(#ffffff, #f0b429, 85%)
      ),
      success: (
        background-color: #27ab83,
        background-color-hover: #199473,
        background-color-disabled: mix(#ffffff, #27ab83, 85%)
      )
    ),
    text-colors: (
      default: #ffffff,
      primary: #ffffff,
      danger: #ffffff,
      warning: #0e1016,
      success: #ffffff
    )
  ),
  dark: (
    background-colors: (
      default: (
        background-color: #637084,
        background-color-hover: #8a96a7,
        background-color-disabled: mix(#000000, #7887b6, 80%)
      ),
      primary: (
        background-color: #5d55fa,
        background-color-hover: #7069fa,
        background-color-disabled: mix(#000000, #5d55fa, 75%)
      ),
      danger: (
        background-color: #e12d39,
        background-color-hover: #ef4e4e,
        background-color-disabled: mix(#000000, #e12d39, 75%)
      ),
      warning: (
        background-color: #f0b429,
        background-color-hover: #f7c948,
        background-color-disabled: mix(#000000, #f0b429, 85%)
      ),
      success: (
        background-color: #27ab83,
        background-color-hover: #3ebd93,
        background-color-disabled: mix(#000000, #27ab83, 75%)
      )
    ),
    text-colors: (
      default: #ffffff,
      primary: #ffffff,
      danger: #ffffff,
      warning: #0e1016,
      success: #ffffff
    )
  )
) !default;

$button-outline-themes: (
  light: (
    background-colors: (
      default: (
        background-color: transparent,
        background-color-hover: #b6bdc8,
        background-color-disabled: transparent
      ),
      primary: (
        background-color: transparent,
        background-color-hover: #5d55fa,
        background-color-disabled: transparent
      ),
      danger: (
        background-color: transparent,
        background-color-hover: #e12d39,
        background-color-disabled: transparent
      ),
      warning: (
        background-color: transparent,
        background-color-hover: #f0b429,
        background-color-disabled: transparent
      ),
      success: (
        background-color: transparent,
        background-color-hover: #27ab83,
        background-color-disabled: transparent
      )
    ),
    border-colors: (
      default: (
        border-color: #e0e2e7,
        border-color-hover: #b6bdc8,
        border-color-disabled: #e0e2e7
      ),
      primary: (
        border-color: mix(#ffffff, #5d55fa, 50%),
        border-color-hover: #5d55fa,
        border-color-disabled: mix(#ffffff, #5d55fa, 50%)
      ),
      danger: (
        border-color: mix(#ffffff, #e12d39, 50%),
        border-color-hover: #e12d39,
        border-color-disabled: mix(#ffffff, #e12d39, 50%)
      ),
      warning: (
        border-color: mix(#ffffff, #f0b429, 50%),
        border-color-hover: #f0b429,
        border-color-disabled: mix(#ffffff, #f0b429, 50%)
      ),
      success: (
        border-color: mix(#ffffff, #27ab83, 50%),
        border-color-hover: #27ab83,
        border-color-disabled: mix(#ffffff, #27ab83, 50%)
      )
    ),
    text-colors: (
      default: (
        text-color: #637084,
        text-color-hover: #ffffff,
        text-color-disabled: #637084
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #ffffff,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #ffffff,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #ffffff,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #ffffff,
        text-color-disabled: #27ab83
      )
    )
  ),
  dark: (
    background-colors: (
      default: (
        background-color: transparent,
        background-color-hover: #8a96a7,
        background-color-disabled: transparent
      ),
      primary: (
        background-color: transparent,
        background-color-hover: #7069fa,
        background-color-disabled: transparent
      ),
      danger: (
        background-color: transparent,
        background-color-hover: #ef4e4e,
        background-color-disabled: transparent
      ),
      warning: (
        background-color: transparent,
        background-color-hover: #f7c948,
        background-color-disabled: transparent
      ),
      success: (
        background-color: transparent,
        background-color-hover: #3ebd93,
        background-color-disabled: transparent
      )
    ),
    border-colors: (
      default: (
        border-color: #252c3b,
        border-color-hover: #637084,
        border-color-disabled: #252c3b
      ),
      primary: (
        border-color: mix(#000000, #5d55fa, 50%),
        border-color-hover: #5d55fa,
        border-color-disabled: mix(#000000, #5d55fa, 50%)
      ),
      danger: (
        border-color: mix(#000000, #e12d39, 50%),
        border-color-hover: #e12d39,
        border-color-disabled: mix(#000000, #e12d39, 50%)
      ),
      warning: (
        border-color: mix(#000000, #f0b429, 50%),
        border-color-hover: #f0b429,
        border-color-disabled: mix(#000000, #f0b429, 50%)
      ),
      success: (
        border-color: mix(#000000, #27ab83, 50%),
        border-color-hover: #27ab83,
        border-color-disabled: mix(#000000, #27ab83, 50%)
      )
    ),
    text-colors: (
      default: (
        text-color: #f3f4f6,
        text-color-hover: #ffffff,
        text-color-disabled: #f3f4f6
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #ffffff,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #ffffff,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #ffffff,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #ffffff,
        text-color-disabled: #27ab83
      )
    )
  )
) !default;

$button-subtle-themes: (
  light: (
    background-colors: (
      default: (
        background-color: mix(#ffffff, #8a96a8, 85%),
        background-color-hover: #b6bdc8,
        background-color-disabled: mix(#ffffff, #8a96a8, 85%)
      ),
      primary: (
        background-color: mix(#ffffff, #5d55fa, 85%),
        background-color-hover: #ffffff,
        background-color-disabled: mix(#ffffff, #5d55fa, 85%)
      ),
      danger: (
        background-color: mix(#ffffff, #e12d39, 90%),
        background-color-hover: #e12d39,
        background-color-disabled: mix(#ffffff, #e12d39, 90%)
      ),
      warning: (
        background-color: mix(#ffffff, #f0b429, 85%),
        background-color-hover: #f0b429,
        background-color-disabled: mix(#ffffff, #f0b429, 85%)
      ),
      success: (
        background-color: mix(#ffffff, #27ab83, 85%),
        background-color-hover: #27ab83,
        background-color-disabled: mix(#ffffff, #27ab83, 85%)
      )
    ),
    text-colors: (
      default: (
        text-color: #13161e,
        text-color-hover: #ffffff,
        text-color-disabled: #13161e
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #ffffff,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #ffffff,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #ffffff,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #ffffff,
        text-color-disabled: #27ab83
      )
    )
  ),
  dark: (
    background-colors: (
      default: (
        background-color: mix(#000000, #8a96a8, 80%),
        background-color-hover: #637084,
        background-color-disabled: mix(#000000, #8a96a8, 80%)
      ),
      primary: (
        background-color: mix(#000000, #5d55fa, 75%),
        background-color-hover: #7069fa,
        background-color-disabled: mix(#000000, #5d55fa, 75%)
      ),
      danger: (
        background-color: mix(#000000, #e12d39, 75%),
        background-color-hover: #e12d39,
        background-color-disabled: mix(#000000, #e12d39, 75%)
      ),
      warning: (
        background-color: mix(#000000, #f0b429, 85%),
        background-color-hover: #f0b429,
        background-color-disabled: mix(#000000, #f0b429, 85%)
      ),
      success: (
        background-color: mix(#000000, #27ab83, 75%),
        background-color-hover: #27ab83,
        background-color-disabled: mix(#000000, #27ab83, 75%)
      )
    ),
    text-colors: (
      default: (
        text-color: #c5cad3,
        text-color-hover: #ffffff,
        text-color-disabled: #c5cad3
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #ffffff,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #ffffff,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #ffffff,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #ffffff,
        text-color-disabled: #27ab83
      )
    )
  )
) !default;

$button-ghost-themes: (
  light: (
    background-colors: (
      default: (
        background-color: transparent,
        background-color-hover: mix(#ffffff, #8a96a8, 85%),
        background-color-disabled: mix(#ffffff, #8a96a8, 85%)
      ),
      primary: (
        background-color: transparent,
        background-color-hover: mix(#ffffff, #5d55fa, 85%),
        background-color-disabled: mix(#ffffff, #5d55fa, 85%)
      ),
      danger: (
        background-color: transparent,
        background-color-hover: mix(#ffffff, #e12d39, 90%),
        background-color-disabled: mix(#ffffff, #e12d39, 90%)
      ),
      warning: (
        background-color: transparent,
        background-color-hover: mix(#ffffff, #f0b429, 85%),
        background-color-disabled: mix(#ffffff, #f0b429, 85%)
      ),
      success: (
        background-color: transparent,
        background-color-hover: mix(#ffffff, #27ab83, 85%),
        background-color-disabled: mix(#ffffff, #27ab83, 85%)
      )
    ),
    text-colors: (
      default: (
        text-color: #637084,
        text-color-hover: #637084,
        text-color-disabled: #637084
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #5d55fa,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #e12d39,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #f0b429,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #27ab83,
        text-color-disabled: #27ab83
      )
    )
  ),
  dark: (
    background-colors: (
      default: (
        background-color: transparent,
        background-color-hover: mix(#000000, #8a96a8, 80%),
        background-color-disabled: mix(#000000, #8a96a8, 80%)
      ),
      primary: (
        background-color: transparent,
        background-color-hover: mix(#000000, #5d55fa, 75%),
        background-color-disabled: mix(#000000, #5d55fa, 75%)
      ),
      danger: (
        background-color: transparent,
        background-color-hover: mix(#000000, #e12d39, 75%),
        background-color-disabled: mix(#000000, #e12d39, 75%)
      ),
      warning: (
        background-color: transparent,
        background-color-hover: mix(#000000, #f0b429, 85%),
        background-color-disabled: mix(#000000, #f0b429, 85%)
      ),
      success: (
        background-color: transparent,
        background-color-hover: mix(#000000, #27ab83, 75%),
        background-color-disabled: mix(#000000, #27ab83, 75%)
      )
    ),
    text-colors: (
      default: (
        text-color: #c5cad3,
        text-color-hover: #c5cad3,
        text-color-disabled: #c5cad3
      ),
      primary: (
        text-color: #5d55fa,
        text-color-hover: #5d55fa,
        text-color-disabled: #5d55fa
      ),
      danger: (
        text-color: #e12d39,
        text-color-hover: #e12d39,
        text-color-disabled: #e12d39
      ),
      warning: (
        text-color: #f0b429,
        text-color-hover: #f0b429,
        text-color-disabled: #f0b429
      ),
      success: (
        text-color: #27ab83,
        text-color-hover: #27ab83,
        text-color-disabled: #27ab83
      )
    )
  )
) !default;
