$chart-header-themes: (
  light: (
    item-background-color: transparent,
    item-background-color-active: #e3e7f0,
    item-border-color: #e3e7f0,
    item-text-color: #8193ae,
    item-text-color-active: #313a4c
  ),
  dark: (
    item-background-color: transparent,
    item-background-color-active: #26272c,
    item-border-color: #26272c,
    item-text-color: #929293,
    item-text-color-active: #ffffff
  )
) !default;

$chart-header-transitions: all 0.2s ease-in-out 0s !default;
