$input-padding-y: 1.2rem !default;
$input-padding-x: 1.2rem !default;
$input-border-radius: 0.4rem !default;

$input-themes: (
  light: (
    input-label-default-color: #637084,
    input-background-color: #f8faff,
    input-border-default-color: #e0e2e7,
    input-value-color: #171b23,
    input-placeholder-color: #a7b0bd,
    input-description-default-color: #a7b0bd
  ),
  dark: (
    input-label-default-color: #c5cad3,
    input-background-color: #0e1016,
    input-border-default-color: #252c3b,
    input-value-color: #f9fafb,
    input-placeholder-color: #637084,
    input-description-default-color: #637084
  )
) !default;
