$link-themes: (
  light: (
    link-color-information: #5d55fa,
    link-color-success: #27ab83,
    link-color-warning: #f0b429,
    link-color-error: #e12d39
  ),
  dark: (
    link-color-information: #5d55fa,
    link-color-success: #27ab83,
    link-color-warning: #f0b429,
    link-color-error: #e12d39
  )
) !default;
