$liquidity-form-themes: (
  light: (
    details-item-text-primary-color: #313a4c,
    details-item-text-secondary-color: #8193ae
  ),
  dark: (
    details-item-text-primary-color: #f9fafb,
    details-item-text-secondary-color: #637084
  )
) !default;
