$market-themes: (
  light: (
    details-text-color: #313a4c,
    stats-text-primary-color: #637084,
    stats-text-secondary-color: #8193ae,
    option-background-color: transparent,
    option-background-color-active: mix(#ffffff, #5d55fa, 86%),
    option-border-color: #e3e7f0,
    option-border-color-active: #aeaafd,
    option-title-color: #313a4c,
    option-odd-color: #8193ae,
    option-value-color: #637084,
    chart-view-title-color: #313a4c,
    chart-view-border-color: #e3e7f0,
    analytics-text-color: #313a4c,
    news-text-color: #313a4c
  ),
  dark: (
    details-text-color: #f9fafb,
    stats-text-primary-color: #c5cad3,
    stats-text-secondary-color: #637084,
    option-background-color: transparent,
    option-background-color-active: mix(#000000, #5d55fa, 70%),
    option-border-color: #252c3b,
    option-border-color-active: #413caf,
    option-title-color: #f9fafb,
    option-odd-color: #637084,
    option-value-color: #c5cad3,
    chart-view-title-color: #f9fafb,
    chart-view-border-color: #252c3b,
    analytics-text-color: #f9fafb,
    news-text-color: #f9fafb
  )
) !default;

$market-outcome-padding-y: 1.6rem !default;
$market-outcome-padding-x: 1.6rem !default;
$market-outcome-border-width: 0.1rem !default;
$market-outcome-border-radius: 0.4rem !default;

$market-outcome-transitions: background-color 0.2s ease-out,
  border-color 0.2s ease-out !default;
$market-outcome-text-transitions: color 0.2s ease-out !default;
$market-outcome-details-transitions: fill 0.2s ease-out !default;

$market-outcome-themes: (
  light: (
    background-colors: (
      default: (
        normal: transparent,
        hover: transparent,
        active: mix(#ffffff, #5d55fa, 86%)
      ),
      success: mix(#ffffff, #27ab83, 85%),
      danger: transparent,
      warning: mix(#ffffff, #f0b429, 90%)
    ),
    border-colors: (
      default: (
        normal: #e3e7f0,
        hover: #e3e7f0,
        active: mix(#ffffff, #5d55fa, 50%)
      ),
      success: mix(#ffffff, #27ab83, 30%),
      danger: #e3e7f0,
      warning: mix(#ffffff, #f0b429, 30%)
    ),
    text-colors: (
      primary: #313a4c,
      secondary: #637084,
      tertiary: #8293ae
    ),
    details-colors: (
      default: transparent,
      success: #27ab83,
      danger: #e12d39,
      warning: #f0b429
    )
  ),
  dark: (
    background-colors: (
      default: (
        normal: transparent,
        hover: transparent,
        active: mix(#000000, #5d55fa, 75%)
      ),
      success: mix(#000000, #27ab83, 75%),
      danger: transparent,
      warning: mix(#000000, #f0b429, 85%)
    ),
    border-colors: (
      default: (
        normal: #252c3b,
        hover: #252c3b,
        active: mix(#000000, #5d55fa, 30%)
      ),
      success: mix(#000000, #27ab83, 30%),
      danger: #252c3b,
      warning: mix(#000000, #f0b429, 60%)
    ),
    text-colors: (
      primary: #f9fafb,
      secondary: #c5cad3,
      tertiary: #637084
    ),
    details-colors: (
      default: transparent,
      success: #27ab83,
      danger: #e12d39,
      warning: #f0b429
    )
  )
) !default;

$market-footer-themes: (
  light: (
    background-colors: (
      favorite: (
        default: #8193ae,
        active: #f0b429
      )
    )
  ),
  dark: (
    background-colors: (
      favorite: (
        default: #637084,
        active: #f0b429
      )
    )
  )
) !default;
