$market-list-themes: (
  light: (
    state-info-border-color: #e3e7f0,
    state-info-description-text-color: #171b23
  ),
  dark: (
    state-info-border-color: #26272c,
    state-info-description-text-color: #ffffff
  )
) !default;

$market-list-transitions: all 0.2s ease-in-out !default;
