$mini-table-themes: (
  light: (
    mini-table-item-title-color: #a7b0bd,
    mini-table-item-value-color: #171b23
  ),
  dark: (
    mini-table-item-title-color: #637084,
    mini-table-item-value-color: #f9fafb
  )
) !default;
