$prediction-card-themes: (
  light: (
    body-background-color: #fbfcfe,
    footer-background-color: #f4f6fa,
    border-color: #e3e7f0,
    shadow: 0rem 0.4rem 2.4rem rgba(137, 158, 198, 0.17)
  ),
  dark: (
    body-background-color: #171b23,
    footer-background-color: #12141c,
    border-color: #252c3b,
    shadow: 0rem 0.4rem 2.4rem rgba(0, 0, 0, 0.4)
  )
) !default;
