$progress-bar-path-color-blue: #6ab7ff !default;
$progress-bar-path-color-pink: #ff83b0 !default;
$progress-bar-path-color-success: #27ab83 !default;
$progress-bar-path-color-warning: #f0b429 !default;
$progress-bar-path-color-danger: #e12d39 !default;

$progress-bar-themes: (
  light: (
    progress-bar-trail-color: #dfe1e6,
    text-colors: (
      primary: #313a4c,
      secondary: #8193ae
    )
  ),
  dark: (
    progress-bar-trail-color: #26282d,
    text-colors: (
      primary: #f9fafb,
      secondary: #637084
    )
  )
) !default;
