$report-form-themes: (
  light: (
    report-form-details-item-bold-color: #171b23,
    report-form-details-item-normal-color: #a7b0bd,
    report-form-details-item-new-bond-color: #27ab83,
    report-form-details-separator-color: #e0e2e7,
    report-form-input-time-left-color: #171b23,
    report-form-input-time-left-primary-color: #313a4c,
    report-form-input-time-left-secondary-color: #929293
  ),
  dark: (
    report-form-details-item-bold-color: #ffffff,
    report-form-details-item-normal-color: #929293,
    report-form-details-item-new-bond-color: #27ab83,
    report-form-details-separator-color: #26272c,
    report-form-input-time-left-primary-color: #ffffff,
    report-form-input-time-left-secondary-color: #979ba4
  )
) !default;
