$searchbar-padding-y: 1rem !default;
$searchbar-padding-x: 1.2rem !default;
$searchbar-border-radius: 0.4rem !default;

$searchbar-themes: (
  light: (
    background-color: transparent,
    text-color: #171b23,
    placeholder-color: #b6bdc8,
    border-color: #e3e7f0,
    icon-fill: #929293
  ),
  dark: (
    background-color: transparent,
    text-color: #ffffff,
    placeholder-color: #929293,
    border-color: #26272c,
    icon-fill: #929293
  )
) !default;

$searchbar-transitions: all 0.2s ease-in-out 0s !default;
