.pm-c-alert {
  @include themes($alert-themes) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;

    width: 100%;
    height: auto;

    padding: $alert-padding-y $alert-padding-x;
    background-color: themed('alert-background-color');

    border-width: $alert-border-width;
    border-left-width: $alert-border-left-width;
    border-style: solid;
    border-color: themed('alert-border-color');
    border-radius: $alert-border-radius;

    filter: themed('alert-shadow');
    transition: $alert-transitions;

    &__group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.8rem;
    }

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }

    &__title {
      text-align: left;
      transition: $alert-transitions;
    }

    &__description {
      text-align: left;
      color: themed('alert-description-color');
      transition: $alert-transitions;
    }
  }
}

.pm-c-alert--information {
  @extend .pm-c-alert;
  @include themes($alert-themes) {
    border-left-color: themed('alert-color-information');

    svg {
      fill: themed('alert-color-information');
    }

    .pm-c-alert__title {
      color: themed('alert-color-information');
    }
  }
}

.pm-c-alert--success {
  @extend .pm-c-alert;
  @include themes($alert-themes) {
    border-left-color: themed('alert-color-success');

    svg {
      fill: themed('alert-color-success');
    }

    .pm-c-alert__title {
      color: themed('alert-color-success');
    }
  }
}

.pm-c-alert--warning {
  @extend .pm-c-alert;
  @include themes($alert-themes) {
    border-left-color: themed('alert-color-warning');

    svg {
      fill: themed('alert-color-warning');
    }

    .pm-c-alert__title {
      color: themed('alert-color-warning');
    }
  }
}

.pm-c-alert--error {
  @extend .pm-c-alert;
  @include themes($alert-themes) {
    border-left-color: themed('alert-color-error');

    svg {
      fill: themed('alert-color-error');
    }

    .pm-c-alert__title {
      color: themed('alert-color-error');
    }
  }
}
