.pm-c-alert-notification {
  @include flex-row(space-between, center);
  gap: 1rem;

  width: 100%;
  padding: 0.5rem 2.4rem;

  &__body {
    @include flex-row(flex-start, center);
    gap: 0.85rem;
  }

  &__actions {
    @include flex-row(flex-end, center);
  }

  a {
    color: $gray-500;
  }
}

.pm-c-alert-notification--warning {
  @extend .pm-c-alert-notification;

  background-color: rgba($warning-500, 0.08);
}
