.pm-c-amount-input {
  @include themes($amount-input-themes) {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    width: 100%;

    &__group {
      display: flex;
      justify-content: space-between;

      height: $amount-input-group-height;
      padding: $amount-input-group-padding;

      border: 0.1rem solid themed('amount-input-border-color');
      border-radius: $amount-input-group-border-radius;
    }

    &__input {
      width: 100%;
      margin: $amount-input-margin;
      padding: $amount-input-padding;

      outline: none;
      border: none;
      box-sizing: border-box;

      background-color: unset;

      font-size: 2rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;

      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;

      color: themed('amount-input-value-color');

      ::placeholder {
        color: themed('amount-input-placeholder-color');
        opacity: 1;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        @extend .tiny, .bold;
        color: themed('amount-input-title-color');
      }

      &-wallet {
        display: inline-flex;
        align-items: center;
        gap: 0.2rem;

        figure {
          margin-right: 0.4rem;

          svg {
            fill: $gray-500;
          }
        }
      }
    }

    &__actions {
      display: flex;

      button {
        display: inline-flex;
        align-items: center;

        cursor: pointer;
        touch-action: manipulation;
        appearance: none;
        outline: none;
        border: none;

        margin: $amount-input-action-margin-y $amount-input-action-margin-x;
        padding: $amount-input-action-button-padding-y
          $amount-input-action-button-padding-x;
        background-color: themed('amount-input-action-button-background-color');

        @extend .tiny-uppercase, .bold;
        color: themed('amount-input-action-button-color');

        border-radius: $amount-input-action-button-border-radius;
        transition: $amount-input-action-button-transitions;

        &:hover {
          background-color: themed(
            'amount-input-action-button-background-color-hover'
          );
        }
      }
    }

    &__logo {
      display: inline-flex;
      align-items: center;
      gap: 0.4rem;

      margin: 0rem 0.8rem;

      > span {
        color: themed('amount-input-currency-name-color');
      }
    }
  }
}
