.pm-c-badge {
  @include flex-row(flex-start, center);
  gap: $badge-gap;

  &__circle {
    height: $badge-circle-height;
    width: $badge-circle-width;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__label {
    @extend .caption, .semibold;
  }

  @include themes($badge-themes) {
    @each $color-variant, $color in themed('badge-normal-circle-colors') {
      &-normal--#{$color-variant} {
        @extend .pm-c-badge;
        @include badge-normal-color(
          map-get(themed('badge-normal-circle-colors'), $color-variant),
          themed('badge-label-color')
        );
      }
    }

    &-filled {
      @extend .pm-c-badge;

      padding: $badge-filled-padding-y $badge-filled-padding-x;
      border-radius: $badge-filled-border-radius;

      background-color: themed('badge-filled-background-color');

      .pm-c-badge__circle {
        background-color: $badge-filled-circle-color;
      }

      .pm-c-badge__label {
        color: themed('badge-label-color');
      }
    }
  }
}
