.breadcrumb {
  &__link {
    color: $gray-500;
    text-decoration: none;
    transition: color 0.2s ease-out;

    &:hover {
      color: $gray-100;
    }
  }

  &__separator {
    display: inline;
    color: $gray-500;
  }

  > span {
    color: $gray-500;

    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
