.breadcrumb {
  @include flex-row(flex-start, center);

  span {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      color: $gray-100;
    }
  }

  &__separator {
    @extend .tiny-uppercase, .semibold;
    margin: 0rem 0.4rem;
    color: $gray-500;
  }

  &__item {
    @extend .tiny-uppercase, .semibold;
    color: $gray-500;

    a {
      color: $gray-500;
      transition: color 0.2s ease;

      &:hover {
        color: $gray-100;
      }
    }
  }
}
