.pm-c-button-group {
  display: flex;
  flex-direction: row;

  padding: 0.2rem;
  margin-bottom: 1rem;

  border-radius: $button-group-border-radius;
  border-width: 0.1rem;
  border-style: solid;

  &__item {
    @extend .pm-c-button;
    border: none;
    flex-grow: 1;
  }

  &--normal {
    @include button-group-size('normal');
  }

  &--sm {
    @include button-group-size('sm');
  }

  &--lg {
    @include button-group-size('lg');
  }

  &--fullwidth {
    width: 100%;
  }

  @include themes($button-group-themes) {
    @each $color, $color-map in themed('background-colors') {
      &--#{$color} {
        @extend .pm-c-button-group;
        @include button-group-color(
          map-get(themed('background-colors'), $color),
          map-get(themed('text-colors'), $color),
          themed('border-color')
        );
      }
    }
  }
}
