%button {
  @include flex-row(center, center);
  gap: 0.8rem;

  @include button-size(
    $button-padding-y,
    $button-padding-x,
    $button-font-size,
    $button-border-radius
  );

  font-weight: $button-font-weight;
  line-height: $button-line-height;

  color: $gray-900;
  text-align: center;
  text-decoration: none;

  white-space: nowrap;

  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: $button-border-width solid transparent;

  transition: $button-transitions;

  &:disabled {
    cursor: unset;
    touch-action: unset;
    pointer-events: none;
  }
}

.button-sm {
  @include button-size(
    $button-sm-padding-y,
    $button-sm-padding-x,
    $button-sm-font-size,
    $button-border-radius
  );
}

.button-lg {
  @include button-size(
    $button-lg-padding-y,
    $button-lg-padding-x,
    $button-font-size,
    $button-border-radius
  );
}

@each $color-variant, $color in $theme-colors {
  .button-normal--#{$color-variant} {
    @extend %button;
    @include button-normal-color($color-variant, $color);
  }
}

@each $color-variant, $color in $theme-dark-colors {
  .button-dark--#{$color-variant} {
    @extend %button;
    @include button-dark-color($color-variant, $color);
  }
}

@each $color-variant, $color in $theme-colors {
  .button-outline--#{$color-variant} {
    @extend %button;
    @include button-outline-color($color-variant, $color);
  }
}

.button-normal--noborder {
  @extend %button;
  padding: 0rem;
  margin: 0rem;

  background-color: unset;
  border: none;
}
