.button {
  position: relative;

  @include flex-row(center, center);
  overflow: hidden;

  cursor: pointer;
  touch-action: manipulation;

  margin: 0rem;
  padding: 1rem 1.6rem;

  outline: none;
  border-radius: 0.4rem;
  appearance: none;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  transition: 0.3s all ease-in-out;

  &:disabled {
    cursor: unset;
    touch-action: unset;
    pointer-events: none;
  }

  &__icon {
    @include flex-row(center, center);
    max-height: 2.4rem;

    &.center {
      align-self: center;
    }

    &.left {
      margin-right: 1.2rem;
    }

    &.right {
      margin-left: 1.2rem;
    }
  }
}

@each $variant, $color in $theme-colors {
  .button--#{$variant} {
    @extend .button;
    @include button-variant($variant, $color);
  }
}

.button--noborder {
  @extend .button;
  padding: 0rem;
  margin: 0rem;

  background-color: unset;
  border: none;
}
