.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  cursor: pointer;
  touch-action: manipulation;

  margin: 0rem;
  padding: 1.2rem 1.6rem;

  outline: none;
  border-radius: 0.4rem;
  appearance: none;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  transition: 0.3s all ease-in-out;

  &:disabled {
    cursor: unset;
    touch-action: unset;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-height: 2.4rem;

    &.center {
      align-self: center;
    }

    &.left {
      margin-right: 1.2rem;
    }

    &.right {
      margin-left: 1.2rem;
    }
  }
}

.button--default {
  @extend .button;

  @include themed() {
    color: t($button-text);
    background-color: t($background);
    border: 0.1rem solid t($input-background);

    > figure > svg {
      fill: t($color-text-alt);
    }
  }

  &:hover {
    background-color: $gray-900;
  }

  &:disabled {
    color: $gray-500;
    background-color: $neutral-white;

    border: 0.1rem solid $gray-500;
  }
}

.button--noborder {
  @extend .button;
  padding: 0rem;
  margin: 0rem;

  background-color: unset;
  border: none;
}

.button--primary {
  @extend .button;
  color: $neutral-white;
  background-color: $primary-500;

  border: 0.1rem solid $primary-500;

  &:hover {
    background-color: $primary-900;

    border: 0.1rem solid $primary-900;
  }

  &:disabled {
    background-color: $primary-300;

    border: 0.1rem solid $primary-300;
  }
}

.button--secondary {
  @extend .button;
  color: $primary-500;
  background-color: $primary-100;

  border: 0.1rem solid $primary-100;

  &:hover {
    color: $primary-500;
    background-color: $primary-300;

    border: 0.1rem solid $primary-300;
  }

  &:disabled {
    color: $primary-300;
    background-color: $primary-100;

    border: 0.1rem solid $primary-100;
  }
}

.button--success {
  @extend .button;
  color: $neutral-white;
  background-color: $success-500;

  border: 0.1rem solid $success-500;

  &:hover {
    color: $neutral-white;
    background-color: $success-900;

    border: 0.1rem solid $success-900;
  }

  &:disabled {
    color: $success-100;
    background-color: $success-100;

    border: 0.1rem solid $success-100;
  }
}

.button--warning {
  @extend .button;
  color: $neutral-white;
  background-color: $warning-500;

  border: 0.1rem solid $warning-500;

  &:hover {
    color: $neutral-white;
    background-color: $warning-900;

    border: 0.1rem solid $warning-900;
  }

  &:disabled {
    color: $warning-100;
    background-color: $warning-100;

    border: 0.1rem solid $warning-100;
  }
}

.button--danger {
  @extend .button;
  color: $neutral-white;
  background-color: $danger-500;

  border: 0.1rem solid $danger-500;

  &:hover {
    color: $neutral-white;
    background-color: $danger-900;

    border: 0.1rem solid $danger-900;
  }

  &:disabled {
    color: $danger-100;
    background-color: $danger-100;

    border: 0.1rem solid $danger-100;
  }
}
