.card {
  @include flex-column(space-between, center);
  gap: 0.8rem;
  @include card-size($card-padding-y, $card-padding-x);
  @include border(none);

  height: 100%;

  &__header {
    @include flex-row(space-between, center);
    width: 100%;

    &-title {
      color: $gray-500;
    }

    &-extra {
      color: $gray-500;
    }
  }

  &__body {
    @include flex-column;
    height: 100%;
  }
}

.card-lg {
  @include card-size($card-lg-padding-y, $card-lg-padding-x);
}

@each $color-variant, $color in $theme-colors {
  .card--#{$color-variant} {
    @extend .card;
    @include card-background-color($color-variant, $color);
  }
}

@each $color-variant, $color in $gradient-colors {
  .card--gradient-#{$color-variant} {
    @extend .card;
    @include card-background-color($color-variant, $color);
  }
}
