.categories {
  display: flex;
  flex-direction: column;

  gap: 8px;

  width: 100%;
  background-color: $neutral-white;

  &__title {
    font-size: 12px;

    @include font-weight(bold);
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 8px 0px;
    margin-right: auto;

    color: $gray-500;

    font-size: 14px;
    text-decoration: none;
    @include font-weight(semibold);

    transition: color 0.2s linear 0s;

    > svg {
      fill: $gray-500;
      margin-right: 12px;

      transition: fill 0.2s linear 0s;
    }

    &:hover {
      color: $gray-900;

      > svg {
        fill: $gray-900;
      }
    }

    &--active {
      color: $primary-500;

      > svg {
        fill: $primary-500;
      }
    }
  }
}
