.chart-header {
  @include flex-row;
  gap: 4.8rem;

  &__interval,
  &__view {
    @include flex-row;
    gap: 0.8rem;

    width: 100%;
    place-content: space-between;

    &-item {
      @extend .pm-c-button;
      padding: 0.4rem 0.8rem;
      min-width: 4.5rem;

      width: 100%;

      @extend .caption, .bold;
      color: $gray-500;

      background-color: $gray-1000;
      @include border($gray-600);

      svg {
        fill: $gray-500;
      }

      &.active {
        color: $gray-100;
        background-color: $gray-600;

        svg {
          fill: $gray-100;
        }
      }
    }
  }
}
