.pm-c-create-market-form {
  @include themes($create-market-form-themes) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    width: 70rem;

    &__card {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      width: 70rem;
      padding: $create-market-form-card-padding-y
        $create-market-form-card-padding-x;

      background-color: themed('create-market-form-card-background-color');
      border: 0.1rem solid themed('create-market-form-card-border-color');
      border-radius: $create-market-form-card-border-radius;

      transition: $create-market-form-transitions;

      &-title {
        color: themed('create-market-form-card-title-color');

        transition: $create-market-form-transitions;
      }

      &-outcome-group--row {
        display: grid;
        grid-template-columns: 1fr 18.8rem;
        grid-template-rows: auto;
        grid-gap: 1.2rem;
      }

      &-categories-group--row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2.4rem;
      }

      &-liquidity-details {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }

      &-liquidity-details__group {
        @extend .pm-c-liquidity-form__details-group;
      }

      &-liquidity-details__separator {
        @extend .pm-c-liquidity-form__details-separator;
      }

      &-liquidity-details__liquidity-value,
      &-liquidity-details__earn-trading-fee {
        @extend .pm-c-liquidity-form__details-liquidity-value;

        &__title,
        &__amount {
          color: themed(
            'create-market-form-card-liquidity-details-text-primary-color'
          );
          svg {
            fill: themed(
              'create-market-form-card-liquidity-details-text-secondary-color'
            );
          }
        }
      }

      &-liquidity-details__shares-added {
        @extend .pm-c-liquidity-form__details-shares-added;

        &__title,
        &__amount {
          color: themed(
            'create-market-form-card-liquidity-details-text-secondary-color'
          );
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;

      width: 100%;
      padding: 0.4rem 0rem 2.4rem 0rem;

      button {
        @extend .body, .semibold;
      }
    }
  }
}
