@each $modifier, $breakpoint in $map-grid-props {
  @if ($modifier == '') {
    $modifier: '-xs';
  }
  @include create-mq($breakpoint - 1, 'max') {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.grid {
  max-width: $grid-bp-md * 1px;
  margin: 0 auto;
}

.fluid {
  margin: 0;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@each $modifier, $breakpoint in $map-grid-props {
  @include create-col-classes($modifier, $grid-cols, $breakpoint);
}
