.pm-c-input {
  @include themes($input-themes) {
    margin: 0rem;
    padding: $input-padding-y $input-padding-x;

    outline: none;
    border-radius: 0.4rem;

    @extend .caption, .medium;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: themed('input-value-color');

    &::placeholder {
      color: themed('input-placeholder-color');
    }

    background-color: transparent;

    border-width: 0.1rem;
    border-style: solid;
    border-radius: $input-border-radius;

    transition: $input-transitions;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &__label {
      @extend .caption, .medium;
    }

    &__description {
      @extend .tiny, .medium;
    }

    &__error {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.8rem;

      svg {
        height: 1.2rem;
        width: 1.2rem;
        flex-shrink: 0;

        fill: themed('input-error-color');
      }

      &-message {
        color: themed('input-error-color');
      }
    }
  }
}

.pm-c-input--default {
  @extend .pm-c-input;
  @include themes($input-themes) {
    border-color: themed('input-border-default-color');

    &:focus {
      border-color: themed('input-border-default-focus-color');
    }

    &:disabled {
      border-color: transparent;
      background-color: themed('input-background-disabled-color');
    }
  }
}

.pm-c-input__label--default {
  @extend .pm-c-input__label;
  @include themes($input-themes) {
    color: themed('input-label-default-color');
  }
}

.pm-c-input__description {
  @extend .pm-c-input__description;
  @include themes($input-themes) {
    color: themed('input-description-default-color');
  }
}

.pm-c-input--error {
  @extend .pm-c-input;
  @include themes($input-themes) {
    border-color: themed('input-border-error-color');
  }
}

.pm-c-input__label--error {
  @extend .pm-c-input__label;
  @include themes($input-themes) {
    color: themed('input-label-error-color');
  }
}

.pm-c-outcome-input--default {
  @include themes($input-themes) {
    outline: none;
    padding: 0rem;

    width: 100%;

    @extend .caption, .medium;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: themed('input-value-color');

    &::placeholder {
      color: themed('input-placeholder-color');
    }

    background-color: transparent;
    border: none;
    transition: $input-transitions;

    &__group {
      @extend .pm-c-input__group;
    }

    &__wrapper {
      display: inline-flex;
      align-items: center;
      gap: 0.8rem;

      margin: 0rem;
      padding: $input-padding-y $input-padding-x;

      background-color: transparent;

      border-width: 0.1rem;
      border-style: solid;
      border-radius: $input-border-radius;
      border-color: themed('input-border-default-color');

      &:focus-within {
        border-color: themed('input-border-default-focus-color');
      }

      transition: $input-transitions;
    }
  }
}

.pm-c-outcome-input--error {
  @extend .pm-c-outcome-input--default;

  @include themes($input-themes) {
    &__wrapper {
      @extend .pm-c-outcome-input--default__wrapper;
      border-color: themed('input-border-error-color');

      &:focus-within {
        border-color: themed('input-border-error-color');
      }
    }
  }
}

.pm-c-probability-input--default {
  @extend .pm-c-outcome-input--default;

  &__group {
    @extend .pm-c-input__group;
  }

  &__wrapper {
    @extend .pm-c-outcome-input--default__wrapper;
  }
}

.pm-c-probability-input--error {
  @extend .pm-c-outcome-input--default;

  @include themes($input-themes) {
    &__group {
      @extend .pm-c-input__group;
    }

    &__wrapper {
      @extend .pm-c-outcome-input--default__wrapper;
      border-color: themed('input-border-error-color');

      &:focus-within {
        border-color: themed('input-border-error-color');
      }
    }
  }
}

.pm-c-file-upload-input {
  @include themes($input-themes) {
    &__label {
      @extend .pm-c-input__label--default;
    }

    &__actions {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.6rem;
    }

    &__status {
      color: themed('input-description-default-color');
    }
  }
}

.pm-c-select-input {
  @extend .pm-c-input;

  @include themes($input-themes) {
    &__group {
      @extend .pm-c-input__group;

      select {
        option {
          background-color: themed('input-select-background-color');
          color: themed('input-value-color');

          &[value=''][disabled] {
            background-color: themed('input-background-color');
            color: themed('input-placeholder-color');
          }
        }

        &:not(:checked) {
          color: themed('input-placeholder-color');
        }
      }
    }
  }
}

.pm-c-select-input--default {
  @extend .pm-c-input--default;
}

.pm-c-select-input__label--default {
  @extend .pm-c-input__label--default;
}

.pm-c-select-input--error {
  @extend .pm-c-input--error;
}

.pm-c-select-input__label--error {
  @extend .pm-c-input__label--error;
}

.pm-c-date-input {
  @extend .pm-c-input;

  @include themes($input-themes) {
    &__group {
      @extend .pm-c-input__group;

      ::-webkit-calendar-picker-indicator {
        background-image: url('data:image/svg+xml;utf8,<svg width="16" height="17" viewBox="0 0 16 17" fill="%23637084" xmlns="http://www.w3.org/2000/svg"><path d="M15 2.5H13V0.5H10V2.5H6V0.5H3V2.5H1C0.448 2.5 0 2.948 0 3.5V15.5C0 16.052 0.448 16.5 1 16.5H15C15.552 16.5 16 16.052 16 15.5V3.5C16 2.948 15.552 2.5 15 2.5ZM14 14.5H2V7.5H14V14.5Z"/></svg>');
      }
    }
  }
}

.pm-c-date-input--default {
  @extend .pm-c-input--default;
}

.pm-c-date-input__label--default {
  @extend .pm-c-input__label--default;
}

.pm-c-date-input--error {
  @extend .pm-c-input--error;
}

.pm-c-date-input__label--error {
  @extend .pm-c-input__label--error;
}
