@import 'styles/base/colors';

.input {
  height: 44px;

  margin: 0px;
  padding: 12px;

  outline: none;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.default {
  @extend .input;
  color: $gray-500;
  background-color: $white;

  border: 1.5px solid $gray-300;

  &:focus {
    color: $gray-900;

    border: 1.5px solid $primary-500;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $primary-300;
    outline: 0 none;
  }
}

.error {
  @extend .input;
  color: $gray-500;
  background-color: $danger-100;

  border: 1.5px solid $danger-500;

  &:focus {
    color: $gray-900;

    border: 1.5px solid $danger-500;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $danger-300;
    outline: 0 none;
  }
}

.success {
  @extend .input;
  color: $gray-500;
  background-color: $success-100;

  border: 1.5px solid $success-500;

  &:focus {
    color: $gray-900;

    border: 1.5px solid $success-500;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $success-300;
    outline: 0 none;
  }
}
