.input {
  height: 4.4rem;

  margin: 0rem;
  padding: 1.2rem;

  outline: none;
  border-radius: 0.4rem;

  font-size: 1.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

  &::placeholder {
    color: $gray-500;
  }

  &__group {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    color: $gray-900;
  }

  &__description {
    font-size: 1.1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    color: $gray-500;
  }
}

.input--default {
  @extend .input;
  background-color: $gray-700;

  border: 0.15rem solid $gray-300;

  &:focus {
    color: $gray-500;
    outline: 0 none;
  }
}

.input--error {
  @extend .input;
  color: $gray-500;
  background-color: $danger-100;

  border: 0.15rem solid $danger-500;

  &:focus {
    color: $gray-900;

    border: 0.15rem solid $danger-500;

    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) inset,
      0 0 0.8rem $danger-100;
    outline: 0 none;
  }
}

.input--success {
  @extend .input;
  color: $gray-500;
  background-color: $success-100;

  border: 0.15rem solid $success-500;

  &:focus {
    color: $gray-900;

    border: 0.15rem solid $success-500;

    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) inset,
      0 0 0.8rem $success-100;
    outline: 0 none;
  }
}
