.interface-settings {
  display: none;

  position: absolute;
  top: 8rem;
  right: 2.8rem;
  z-index: 10;

  padding: 2.4rem;
  border-radius: 0.4rem;

  background-color: $card-background-dark;
  box-shadow: $card-shadow-dark;

  > p {
    font-size: 1.5rem;

    color: $neutral-white;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10rem;

    > label {
      color: $gray-100;
    }
  }
}

.interface-settings--collapsed {
  @extend .interface-settings;

  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}
