.interface-settings {
  display: none;

  position: absolute;
  top: 8rem;
  right: 2.8rem;
  z-index: 10;

  padding: 2.4rem;
  border-radius: 0.4rem;

  @include themed() {
    background-color: t($card-background);
    box-shadow: t($card-shadow);
  }

  > p {
    font-size: 1.5rem;

    @include themed() {
      color: t($input-text);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10rem;

    > label {
      @include themed() {
        color: t($color-text);
      }
    }
  }
}

.interface-settings--collapsed {
  @extend .interface-settings;

  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}
