.label {
  display: inline-flex;
  gap: 0.2rem;

  margin: 0rem;
  padding: 0.1rem 0.6rem;
  height: fit-content;

  outline: none;
  border-radius: 1.6rem;
  text-align: center;

  &__icon {
    &.left {
      margin-right: 0.5rem;
      float: left;
    }

    &.right {
      margin-left: 0.5rem;
      float: right;
    }
  }
}

.label--default {
  @extend .label;

  color: $gray-500;
  background-color: $gray-600;

  > label {
    color: $gray-500;
  }

  svg {
    fill: $gray-500;
  }
}

.label--primary {
  @extend .label;

  color: $neutral-white;
  background-color: $primary-500;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--warning {
  @extend .label;

  color: $neutral-white;
  background-color: $secondary-500;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--success {
  @extend .label;

  color: $neutral-white;
  background-color: $success-500;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--danger {
  @extend .label;

  color: $neutral-white;
  background-color: $danger-500;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--warning {
  @extend .label;

  color: $neutral-white;
  background-color: $warning-500;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--black {
  @extend .label;

  color: $neutral-white;
  background-color: $neutral-black;

  > label {
    color: $neutral-white;
  }

  svg {
    fill: $neutral-white;
  }
}

.label--white {
  @extend .label;

  color: $neutral-black;
  background-color: $neutral-white;

  > label {
    color: $neutral-black;
  }

  svg {
    fill: $neutral-black;
  }
}
