%label {
  @include flex-row(center, center);
  gap: 0.4rem;

  width: fit-content;
  height: fit-content;

  margin: 0rem;

  outline: none;
  text-align: center;

  transition: $label-transitions;
}

.label-sm {
  @include label-size(
    $label-sm-padding-y,
    $label-sm-padding-x,
    $label-sm-font-size,
    $label-sm-font-weight,
    $label-sm-line-height,
    $label-border-radius
  );
}

.label-lg {
  @include label-size(
    $label-lg-padding-y,
    $label-lg-padding-x,
    $label-lg-font-size,
    $label-lg-font-weight,
    $label-lg-line-height,
    $label-border-radius
  );
}

@each $color-variant, $color in $theme-colors {
  .label-normal--#{$color-variant} {
    @extend %label;
    @include label-normal-color($color-variant, $color);
  }
}

@each $color-variant, $color in $theme-colors {
  .label-outline--#{$color-variant} {
    @extend %label;
    @include label-outline-color(
      $color-variant,
      $color,
      $label-border-width,
      $label-border-radius
    );
  }
}
