.label {
  display: inline-block;

  margin: 0rem;
  padding: 0.4rem 1rem;
  height: fit-content;

  outline: none;
  border-radius: 1.6rem;

  font-size: 1.3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

  &__icon {
    &.left {
      margin-right: 0.5rem;
      float: left;
    }

    &.right {
      margin-left: 0.5rem;
      float: right;
    }
  }
}

.label--default {
  @extend .label;

  color: $grey-900;
  background-color: $grey-100;

  > label {
    color: $grey-900;
  }
}

.label--primary {
  @extend .label;

  color: $white;
  background-color: $primary-500;

  > label {
    color: $white;
  }
}

.label--success {
  @extend .label;

  color: $success-500;
  background-color: $success-100;

  > label {
    color: $success-500;
  }
}

.label--warning {
  @extend .label;

  color: $warning-500;
  background-color: $warning-100;

  > label {
    color: $warning-500;
  }
}

.label--danger {
  @extend .label;

  color: $danger-500;
  background-color: $danger-100;

  > label {
    color: $danger-500;
  }
}

.label--pink {
  @extend .label;

  color: $pink-500;
  background-color: $pink-100;

  > label {
    color: $pink-500;
  }
}
