.pm-c-liquidity-form {
  @include themes($liquidity-form-themes) {
    @include flex-column(space-between, center);
    gap: 2.4rem;

    height: 100%;
    width: 32rem;

    &__group {
      @include flex-column(flex-start, center);
      gap: 2.4rem;
      width: 100%;
    }

    &__info {
      width: 100%;
    }

    &__input {
      width: 100%;
    }

    &__details {
      @include flex-column;
      gap: 1.2rem;

      width: 100%;

      padding: 2.4rem 0rem;

      &-group {
        @include flex-column;
      }

      &-separator {
        width: 100%;

        margin: 0rem;
        border: none;
        border-bottom: 0.1rem dashed themed('details-item-text-secondary-color');
      }

      &-outcome-marker--primary {
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;

        background-color: #9f7eff;
      }

      &-outcome-marker--secondary {
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;

        background-color: #ff83b0;
      }

      &-total-stake,
      &-outcome {
        @include flex-row(space-between, center);
        gap: 1rem;

        span {
          @include flex-row(flex-start, center);
          gap: 0.8rem;
          color: themed('details-item-text-primary-color');
        }
      }

      &-liquidity-value,
      &-outcome-shares-value {
        @include flex-row(space-between, center);
        gap: 1rem;

        span {
          @include flex-row(flex-start, center);
          gap: 0.5rem;
          color: themed('details-item-text-primary-color');
        }

        svg {
          height: 1.2rem;
          width: 1.2rem;

          fill: themed('details-item-text-secondary-color');
        }
      }

      &-shares-added,
      &-shares-received {
        @include flex-row(space-between, center);
        gap: 1rem;

        span {
          color: themed('details-item-text-secondary-color');
        }
      }
    }

    &__actions {
      @include flex-row;
      gap: 0.8rem;

      width: 100%;
    }
  }
}
