.pm-c-liquidity-form {
  @include flex-column(space-between, center);
  gap: 2.4rem;
  width: 100%;

  &__group {
    @include flex-column(flex-start, center);
    width: 100%;
  }

  &__info {
    width: 100%;
  }

  &__actions {
    width: 100%;
  }
}
