.pm-c-market {
  @include themes($market-themes) {
    &__body {
      @include flex-column(center, center);

      @include breakpoint-to('md') {
        @include flex-row;
      }
      gap: 2.4rem;

      &-image {
        object-fit: cover;
        border-radius: 50%;

        height: 6.4rem;
        width: 6.4rem;
      }

      &-details {
        @include flex-column(center, center);

        @include breakpoint-to('md') {
          @include flex-column(center, flex-start);
        }

        gap: 0.8rem;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: break-word;

          color: themed('details-text-color');
          transition: all 0.2s ease-in-out 0s;
        }
      }
    }
  }
}

.pm-c-market-options {
  @include flex-row(center, center);
  gap: 1.6rem;

  width: 100%;

  @include breakpoint-to('sm') {
    width: auto;
  }

  li {
    flex-grow: 1;

    @include breakpoint-to('sm') {
      flex-grow: 0;
    }
  }

  &__item {
    pointer-events: none;
    cursor: pointer;
    touch-action: manipulation;

    @include flex-row($align: center);
    gap: 2.4rem;
    padding: 1.6rem;

    width: 100%;

    @include breakpoint-to('md') {
      pointer-events: all;
      width: auto;
    }

    background-color: $gray-900;
    @include border($gray-900);

    // transition: all 0.3s ease 0s;

    &:hover {
      @include border($gray-600);
    }

    &-group {
      @include flex-column(center, flex-start);
    }

    &-chart {
      display: none;

      @include breakpoint-to('sm') {
        display: inline-block;
      }
    }

    &-odd {
      @include flex-row(flex-start, center);
      gap: 0.3rem;
    }

    &.active {
      background: linear-gradient(
        90deg,
        rgba(87, 81, 252, 0.4) 0%,
        rgba(87, 81, 252, 0.14) 100%
      );
      @include border($primary-500);
    }
  }
}

.pm-c-market-footer {
  @include themes($market-themes) {
    &__stats {
      @include flex-row;
      gap: 2.4rem;

      flex-wrap: wrap;
      justify-content: center;

      @include breakpoint-to('lg') {
        justify-content: flex-start;
      }

      span,
      strong {
        transition: all 0.2s ease-in-out 0s;
      }

      span {
        color: themed('stats-text-secondary-color');
      }

      strong {
        color: themed('stats-text-primary-color');
      }
    }
  }
}
