.market-analytics {
  &__group {
    @include flex-row;

    flex-wrap: wrap;
    gap: 1.6rem;

    height: 100%;

    &--row {
      @extend .market-analytics__group;
    }

    &--column {
      @extend .market-analytics__group;
      flex-direction: column;
    }
  }

  &__item {
    @include flex-column(center, center);

    flex-grow: 1;

    height: 8rem;
    padding: 1.2rem 2.4rem;

    border-radius: 0.4rem;

    &-title {
      color: $neutral-white-50;
    }

    &-value {
      color: $gray-100;
    }
  }
}

.market-analytics__item--default {
  @extend .market-analytics__item;

  background: $gray-1000;
  border: 0.1rem solid $gray-600;

  .market-analytics__item-title {
    color: $gray-500;
  }
}

.market-analytics__item--yellow {
  @extend .market-analytics__item;

  background: $card-gradient-yellow;
}

.market-analytics__item--blue {
  @extend .market-analytics__item;

  background: $card-gradient-blue;
}

.market-analytics__item--green {
  @extend .market-analytics__item;

  background: $card-gradient-green;
}

.market-analytics__item--pink {
  @extend .market-analytics__item;

  background: $card-gradient-pink;
}

.market-analytics__item--orange {
  @extend .market-analytics__item;

  background: $card-gradient-orange;
}

.market-head {
  @include flex-row;

  padding: 0.8rem 0rem;

  &__image {
    object-fit: cover;
    border-radius: 50%;

    height: 6.4rem;
    width: 6.4rem;

    margin-right: 2.4rem;
  }

  &__details {
    @include flex-column(center, flex-start);
    flex-grow: 1;

    gap: 0.8rem;
    margin-right: 3.2rem;

    > p {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;

      @include themed() {
        color: t($color-text);
      }
    }
  }

  &__actions {
    @include flex-row(center, center);

    > button {
      padding: 1rem 1.4rem;

      > figure > svg {
        fill: $gray-300 !important;
      }

      > span {
        color: $gray-300;
      }
    }
  }
}

.market-chart {
  @include flex-column;
  gap: 1.2rem;

  width: 100%;
  height: 100%;

  padding: 2.4rem;

  border: 1px solid $gray-600;
  border-radius: 0.4rem;

  &__header {
    @include flex-row(space-between, center);

    &-title {
      color: $gray-100;
    }

    &-actions {
      @include flex-row;
      gap: 4.8rem;

      &__interval,
      &__view {
        @include flex-row;
        gap: 0.8rem;

        &-item {
          @extend %button;
          padding: 0.4rem 0.8rem;
          border: 0.1rem solid $gray-600;
          border-radius: 0.4rem;

          background-color: $gray-1000;
          color: $gray-500;

          > svg {
            fill: $gray-500;
          }

          &.active {
            background-color: $gray-600;
            color: $gray-100;

            > svg {
              fill: $gray-100;
            }
          }
        }
      }
    }
  }

  &__view {
  }
}
