.pm-c-market {
  @include themes($market-themes) {
    &__body {
      @include flex-column(center, center);

      @include breakpoint-to('md') {
        @include flex-row;
      }
      gap: 2.4rem;

      &-image {
        object-fit: cover;
        border-radius: 50%;

        height: 6.4rem;
        width: 6.4rem;
      }

      &-details {
        @include flex-column(center, center);

        @include breakpoint-to('md') {
          @include flex-column(center, flex-start);
        }

        gap: 0.8rem;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: break-word;

          color: themed('details-text-color');
          transition: all 0.2s ease-in-out 0s;
        }
      }
    }
  }
}

.pm-c-market-options {
  @include flex-row(center, center);
  @include themes($market-themes) {
    gap: 1.6rem;

    width: 100%;

    @include breakpoint-to('sm') {
      width: auto;
    }

    li {
      flex-grow: 1;

      @include breakpoint-to('sm') {
        flex-grow: 0;
      }
    }

    &__item {
      pointer-events: none;
      cursor: pointer;
      touch-action: manipulation;

      @include flex-row($align: center);
      gap: 2.4rem;
      padding: 1.6rem;

      width: 100%;

      @include breakpoint-to('md') {
        pointer-events: all;
        width: auto;
      }

      background-color: themed('option-background-color');
      @include border(themed('option-border-color'));

      transition: all 0.2s ease-in-out 0s;

      &:hover {
        @include border(themed('option-border-color'));
      }

      &-group {
        @include flex-column(center, flex-start);

        &__title {
          color: themed('option-title-color');
          transition: all 0.2s ease-in-out 0s;
        }

        &__odd {
          color: themed('option-odd-color');
          transition: all 0.2s ease-in-out 0s;
        }

        &__value {
          color: themed('option-value-color');
          transition: all 0.2s ease-in-out 0s;
        }
      }

      &-chart {
        display: none;

        @include breakpoint-to('sm') {
          display: inline-block;
        }
      }

      &-odd {
        @include flex-row(flex-start, center);
        gap: 0.3rem;
      }

      &.active {
        background: themed('option-background-color-active');
        @include border(themed('option-border-color-active'));
      }
    }
  }
}

.pm-c-market-footer {
  @include themes($market-themes) {
    &__stats {
      @include flex-row;
      gap: 2.4rem;

      flex-wrap: wrap;
      justify-content: center;

      @include breakpoint-to('lg') {
        justify-content: flex-start;
      }

      span,
      strong {
        transition: all 0.2s ease-in-out 0s;
      }

      span {
        color: themed('stats-text-secondary-color');
        transition: all 0.2s ease-in-out 0s;
      }

      strong {
        color: themed('stats-text-primary-color');
        transition: all 0.2s ease-in-out 0s;
      }
    }
  }
}
