.market-analytics {
  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;

    height: 100%;

    &--row {
      @extend .market-analytics__group;
      flex-direction: row;
    }

    &--column {
      @extend .market-analytics__group;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    flex-grow: 1;

    height: 8rem;
    padding: 1.2rem 2.4rem;

    border-radius: 0.4rem;

    &-title {
      color: $neutral-white-50;
    }

    &-value {
      color: $gray-100;
    }
  }
}

.market-analytics__item--default {
  @extend .market-analytics__item;

  background: $gray-800;
  border: 0.1rem solid $gray-600;

  .market-analytics__item-title {
    color: $gray-500;
  }
}

.market-analytics__item--yellow {
  @extend .market-analytics__item;

  background: $card-gradient-yellow;
}

.market-analytics__item--blue {
  @extend .market-analytics__item;

  background: $card-gradient-blue;
}

.market-analytics__item--green {
  @extend .market-analytics__item;

  background: $card-gradient-green;
}

.market-analytics__item--pink {
  @extend .market-analytics__item;

  background: $card-gradient-pink;
}

.market-analytics__item--orange {
  @extend .market-analytics__item;

  background: $card-gradient-orange;
}

.market-head {
  display: flex;

  padding: 0.8rem 0rem;

  &__image {
    object-fit: cover;
    border-radius: 50%;

    height: 6.4rem;
    width: 6.4rem;

    margin-right: 2.4rem;
  }

  &__details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 0.8rem;
    margin-right: 3.2rem;

    > p {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;

      @include themed() {
        color: t($color-text);
      }
    }
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    > button {
      padding: 1rem 1.4rem;

      > figure > svg {
        fill: $gray-300 !important;
      }

      > span {
        color: $gray-300;
      }
    }
  }
}

.market-chart {
  &__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.6rem;
  }

  &__chart {
    padding: 2.4rem 2.4rem 0.9rem 2.4rem;

    border: 1px solid $gray-600;
    border-radius: 0.4rem;
  }
}
