.market-table {
  width: 100%;
  border: 0.1rem solid $gray-600;

  &__header {
    background-color: $gray-700;

    &-item {
      padding: 1.2rem 0rem 1.2rem 3.2rem;
      vertical-align: middle;

      @extend .tiny, .bold;
      text-align: end;
      color: $gray-400;

      &:first-of-type {
        padding: 1.2rem 2.4rem;
        text-align: left;
      }

      &:last-of-type {
        padding: 3.2rem;
      }
    }
  }

  &__row {
    background-color: $gray-1000;
    border-top: 0.1rem solid $gray-600;

    &-item {
      padding: 2.4rem 0rem 2.4rem 2.4rem;
      vertical-align: middle;

      @extend .caption, .semibold;
      text-align: end;
      white-space: normal;

      color: $gray-100;

      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        padding: 0rem 3.2rem;
      }

      &__image {
        height: 4.8rem;
        width: 4.8rem;

        object-fit: cover;
        border-radius: 50%;
      }

      &__group {
        @include flex-column(center, flex-end);
        white-space: nowrap;
      }

      &__change {
        @include flex-row;

        &--up {
          color: $success-500;

          > svg {
            margin-right: 0.538rem;
            fill: $success-500;
          }
        }

        &--down {
          color: $danger-500;

          > svg {
            margin-right: 0.538rem;
            fill: $danger-500;
          }
        }
      }

      &:nth-child(1) {
        @include flex-row(flex-start, center);
        padding: 2.4rem;
        gap: 2.4rem;
      }
    }
  }
}
