.market-list {
  @include flex-column;
  gap: 2rem;

  height: 100%;
  width: 100%;

  margin: 1rem 0rem;
}

.pm-c-market-list__empty-state {
  @include themes($market-list-themes) {
    width: 100%;
    height: auto;

    padding: 5.9rem 2rem;

    border: 0.1rem solid themed('state-info-border-color');
    border-radius: 0.4rem;
    transition: $market-list-transitions;

    &__body {
      @include flex-column(center, center);
      gap: 1.2rem;

      svg {
        fill: $primary-500;
        transition: $market-list-transitions;
      }

      &-description {
        color: themed('state-info-description-text-color');
        transition: $market-list-transitions;
      }
    }
  }
}

.pm-c-market-list__error {
  @extend .pm-c-market-list__empty-state;
  &__body {
    @extend .pm-c-market-list__empty-state__body;
  }

  &__actions {
    @extend .pm-c-market-list__empty-state__body;
    padding: 2rem 0rem;
  }
}
