.menu {
  @include themes($menu-themes) {
    margin: 0rem;
    padding: 0rem;

    &__item {
      display: inline-block;
      padding: 0rem 1.2rem;

      > * {
        color: themed('text-secondary-color');
        @extend .semibold;

        transition: all 0.2s ease-in-out 0s;
      }

      svg {
        fill: themed('text-secondary-color');
        transition: all 0.2s ease-in-out 0s;
      }

      // Removed this because it was creating a weird visual bug on the sidebar item.
      &:hover,
      &:focus {
        a {
          color: themed('text-primary-color');
          transition: all 0.2s ease-in-out 0s;
        }
      }
    }
  }
}

.menu--row {
  @include flex-row;
}

.menu--column {
  @include flex-column;
}
