.mini-table {
  @include flex-column;
  gap: 0.4rem;

  &__item {
    @include flex-row;
    gap: 0.8rem;

    .fill-empty-space {
      flex-grow: 1;

      align-self: center;
      border: none;
      border-bottom: 0.1rem dashed;
    }
  }
}

@each $color-variant, $color in $theme-colors {
  .mini-table__item--#{$color-variant} {
    @extend .mini-table__item;
    @include mini-table-item-color($color-variant, $color);
  }
}
