.pm-c-modal-notification {
  @include flex-column(center, center);

  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($primary-500, 0.1);
  backdrop-filter: blur(0.6rem);
}
