.pm-c-network-info {
  @include themes($network-info-themes) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.8rem;

    width: max-content;
    padding: 0.8rem 1.2rem;

    background-color: themed('background-color');
    border-radius: 0.4rem;

    &__dot {
      display: inline-block;

      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
    }

    &__title {
      color: themed('text-color');
      transition: $network-info-transitions;
    }

    transition: $network-info-transitions;
  }
}

.pm-c-network-info--mainnet {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #29b6af;
  }
}

.pm-c-network-info--ropsten {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #ff4a8d;
  }
}

.pm-c-network-info--kovan {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #9265fc;
  }
}

.pm-c-network-info--local,
.pm-c-network-info--rinkeby,
.pm-c-network-info--moonbase-alpha,
.pm-c-network-info--moonbase-local {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #9064ff;
  }
}

.pm-c-network-info--goerli {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #3099f2;
  }
}

.pm-c-network-info--moonriver {
  @extend .pm-c-network-info;

  .pm-c-network-info__dot {
    background-color: #f0b705;
  }
}
