.prediction-card-container {
  display: flex;
  flex-direction: column;

  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease-out 0s;

  background-color: $card-background-dark;
  box-shadow: $card-shadow-dark;
}

.prediction-card {
  display: flex;
  flex-grow: 1;

  padding: 1.6rem;

  &__image {
    object-fit: cover;
    border-radius: 50%;

    height: 6.4rem;
    width: 6.4rem;

    margin-right: 2.4rem;
  }

  &__details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 0.8rem;
    margin-right: 3.2rem;

    > p {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;

      color: $gray-100;
    }
  }

  &__actions {
    display: flex;
    gap: 1.6rem;

    > li {
      display: inline;
    }
  }
}

.prediction-selection {
  cursor: pointer;
  touch-action: manipulation;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.2rem;

  width: 18.9rem;
  padding: 1.6rem;

  > p {
    color: $gray-100;
  }

  border: 0.1rem solid $gray-600;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: $gray-900;
  }

  &__odd {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    > p {
      color: $neutral-white-50;
    }

    > span {
      color: $gray-100;
    }
  }
}

.prediction-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem 1.6rem;
  background-color: $gray-900;
  border-radius: 0rem 0rem 0.4rem 0.4rem;

  &__stats {
    display: inline-flex;
    gap: 2rem;

    > span {
      color: $gray-500;

      > strong {
        color: $gray-100;
      }
    }
  }
}
