.prediction-card {
  @include flex-column;

  background-color: $card-background-dark;
  box-shadow: $card-shadow-dark;

  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease-out 0s;

  &__body {
    @include flex-column(center, center);
    gap: 2.4rem;

    padding: 1.6rem;
    padding-top: 3.2rem;

    @include breakpoint-to('lg') {
      @include flex-row(space-between, center);
      padding: 1.6rem;
    }
  }

  &__footer {
    padding: 1rem 1.6rem;

    background-color: $gray-900;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
  }
}
