.pm-c-progress-bar {
  @include themes($progress-bar-themes) {
    .rc-progress-line-trail {
      stroke: themed('progress-bar-trail-color');
    }

    &__min {
      color: map-get(themed('text-colors'), 'secondary');
    }

    &__current {
      color: map-get(themed('text-colors'), 'primary');
    }

    &__max {
      color: map-get(themed('text-colors'), 'secondary');
    }
  }
}

.pm-c-progress-bar--blue {
  @extend .pm-c-progress-bar;

  .rc-progress-line-path {
    stroke: $progress-bar-path-color-blue;
  }
}

.pm-c-progress-bar--pink {
  @extend .pm-c-progress-bar;

  .rc-progress-line-path {
    stroke: $progress-bar-path-color-pink;
  }
}

.pm-c-progress-bar--success {
  @extend .pm-c-progress-bar;

  .rc-progress-line-path {
    stroke: $progress-bar-path-color-success;
  }
}

.pm-c-progress-bar--warning {
  @extend .pm-c-progress-bar;

  .rc-progress-line-path {
    stroke: $progress-bar-path-color-warning;
  }
}

.pm-c-progress-bar--danger {
  @extend .pm-c-progress-bar;

  .rc-progress-line-path {
    stroke: $progress-bar-path-color-danger;
  }
}

.pm-c-progress-bar__group--column {
  @include flex-column(center, center, 0.2rem);
  width: 100%;
}

.pm-c-progress-bar__group--row {
  @include flex-row(space-between, center, 1rem);
  width: 100%;
}
