.searchbar {
  @include flex-row(flex-start, center);

  padding: 1.2rem;
  transition: background-color 0.3s ease 0s;

  background-color: $input-background-dark;

  border: none;
  border-radius: 0.4rem;

  &__input {
    width: 100%;
    margin: 0rem;
    padding: 0rem;

    outline: none;
    border: none;
    box-sizing: border-box;

    background-color: unset;

    color: $neutral-white;

    font-size: 1.6rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;

    &::placeholder {
      color: $gray-500;
    }
  }

  &__icon {
    float: right;

    cursor: pointer;
    touch-action: manipulation;

    margin-left: 0.6rem;
    padding: 0rem;

    border: none;

    background-color: unset;

    > svg {
      display: inline-block;
      vertical-align: middle;

      fill: $gray-500;
    }
  }
}
