.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1.2rem;

  @include themed() {
    background-color: t($input-background);
  }

  border: none;
  border-radius: 0.4rem;

  &__input {
    width: 100%;
    margin: 0rem;
    padding: 0rem;

    outline: none;
    border: none;
    box-sizing: border-box;

    background-color: unset;

    @include themed() {
      color: t($input-text);
    }

    font-size: 1.6rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;

    &::placeholder {
      @include themed() {
        color: t($text-base);
      }
    }
  }

  &__icon {
    float: right;

    cursor: pointer;
    touch-action: manipulation;

    margin-left: 6px;
    padding: 0px;

    border: none;

    background-color: unset;

    > svg {
      display: inline-block;
      vertical-align: middle;

      @include themed() {
        fill: t($input-icon);
      }
    }
  }
}
