.pm-c-searchbar {
  @include themes($searchbar-themes) {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: $searchbar-padding-y $searchbar-padding-x;
    transition: $searchbar-transitions;

    background-color: transparent;

    border: 0.1rem solid themed('border-color');
    border-radius: $searchbar-border-radius;

    &__input {
      width: 100%;
      margin: 0rem;
      padding: 0rem;

      outline: none;
      border: none;
      box-sizing: border-box;

      background-color: unset;

      font-size: 1.6rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;

      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: themed('text-color');

      &::placeholder {
        color: themed('placeholder-color');
      }
    }

    &__icon {
      float: right;
      cursor: pointer;
      touch-action: manipulation;

      margin-left: 0.6rem;
      padding: 0rem;
      border: none;
      background-color: unset;

      svg {
        display: inline-block;
        vertical-align: middle;

        fill: themed('icon-fill');
      }
    }
  }
}
