.select {
  width: fit-content;

  margin: 0rem;

  outline: none;
  border: none;

  font-size: 1.5rem;
  font-weight: 500;

  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

  &::placeholder {
    color: $gray-500;
  }
}

.select--default {
  @extend .select;

  color: $gray-100;
  background-color: unset;
}

.select-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.1rem;
  width: fit-content;
}

.select-label {
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  color: $gray-500;
}

.select-description {
  font-size: 1.1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  color: $gray-500;
}
