.pm-c-table {
  @include themes($table-themes) {
    width: 100%;
    border: 0.1rem solid themed('table-border-color');

    transition: $table-transitions;

    &__header {
      &-item {
        height: 4.2rem;

        padding: $table-header-item-padding-y $table-header-item-padding-x;
        background-color: themed('table-header-item-background-color');

        @extend .tiny, .bold;
        color: themed('table-header-item-color');
        vertical-align: middle;
        transition: $table-header-item-transitions;
      }
    }

    &__row {
      background-color: themed('table-row-item-background-color');
      border-top: 0.1rem solid themed('table-border-color');

      &:hover {
        background-color: themed('table-row-item-background-color-hover');
      }

      transition: $table-row-item-transitions;

      &-item {
        padding: $table-row-item-padding-y $table-row-item-padding-x;

        @extend .caption, .semibold;
        color: themed('table-row-item-color');
        vertical-align: middle;
        white-space: normal;

        transition: $table-row-item-transitions;

        strong {
          color: themed('table-row-item-secondary-color');
        }

        svg {
          fill: themed('table-row-item-secondary-color');
        }
      }
    }

    &__item {
      &--left {
        text-align: left;
      }

      &--center {
        text-align: center;
      }

      &--right {
        text-align: right;
      }
    }
  }
}
