.pm-c-tabs {
  @include themes($tabs-themes) {
    @include flex-column;
    gap: 1.6rem;

    height: fit-content;

    &__header {
      @include flex-row(space-between, center);
      flex-wrap: wrap;

      gap: 1rem;
    }

    &__filters {
      @include flex-row(flex-end, center, 1.6rem);

      .pm-c-divider--circle:last-of-type {
        display: none;
      }
    }

    &__list {
      gap: 2.4rem;

      &--row {
        @extend .pm-c-tabs__list;
        @include flex-row(flex-start, center);
        flex-wrap: wrap;
      }

      &--column {
        @extend .pm-c-tabs__list;
        @include flex-column;
        flex-wrap: wrap;
      }
    }

    &__item {
      float: left;
      margin: 0rem;
      padding: 0rem;

      list-style-type: none;
      width: fit-content;
      height: fit-content;

      button {
        border: none;
        outline: none;
        padding: 0rem;

        color: themed('tabs-item-color');
        background-color: unset;

        font-size: 1.4rem;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;

        cursor: pointer;
        transition: color 0.3s ease 0s;

        &:hover {
          color: themed('tabs-item-color-hover');
        }
      }

      &.active {
        button {
          color: themed('tabs-item-active-color');
        }
      }
    }

    &__content {
      @include flex-column;

      height: 100%;
      width: 100%;
    }
  }
}
