.heading {
  font-size: 2.1rem;
  line-height: 1.48;
  letter-spacing: -0.021rem;
}

.body {
  font-size: 1.7rem;
  line-height: 1.53;
  letter-spacing: -0.017rem;
}

.caption {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.014rem;
}

.tiny {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.012rem;
}

.tiny-uppercase {
  @extend .tiny;
  letter-spacing: 0.096rem;
  text-transform: uppercase;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
