.pm-c-toast {
  @include themes($toast-themes) {
    @include flex-column;
    gap: 1.2rem;
    padding: 2.4rem;

    background-color: themed('background-color');
    @include border(themed('border-color'));
    box-shadow: themed('shadow');

    transition: $toast-transitions;

    &__header {
      @include flex-row(flex-start, center);
      gap: 0.8rem;

      &-title {
        text-align: left;
        transition: $toast-transitions;
      }
    }

    &__body {
      @include flex-column;
      gap: 1.6rem;

      &-description {
        color: themed('text-color');
        text-align: left;
        transition: $toast-transitions;
      }
    }

    &__actions {
      @include flex-row(flex-start, center);
      gap: 0.8rem;
    }
  }
}

.pm-c-toast--danger {
  @extend .pm-c-toast;

  .pm-c-toast__header {
    svg {
      fill: $danger-500;
    }

    .pm-c-toast__header-title {
      color: $danger-500;
    }
  }
}

.pm-c-toast--warning {
  @extend .pm-c-toast;

  .pm-c-toast__header {
    svg {
      fill: $warning-500;
    }

    .pm-c-toast__header-title {
      color: $warning-500;
    }
  }
}

.pm-c-toast--success {
  @extend .pm-c-toast;

  .pm-c-toast__header {
    svg {
      fill: $success-500;
    }

    .pm-c-toast__header-title {
      color: $success-500;
    }
  }
}

.pm-c-toast--info {
  @extend .pm-c-toast;

  .pm-c-toast__header {
    svg {
      fill: $primary-500;
    }

    .pm-c-toast__header-title {
      color: $primary-500;
    }
  }
}
