.pm-c-tooltip {
  padding: 0.55rem 1rem;

  color: $gray-100;
  @extend .caption, .semibold;

  background-color: $gray-500;
  border-radius: 0.6rem;
}

.pm-c-tooltip--disabled {
  @extend .pm-c-tooltip;
  display: none;
}
