.pm-c-trade-form {
  @include flex-column(space-between, center);
  gap: 2.4rem;

  &__group {
    @include flex-column(flex-start, center);

    width: 100%;
  }
}

.pm-c-trade-form-charts {
  @include flex-column;
  width: 100%;
}

.pm-c-trade-form-predictions {
  @include flex-column;
  gap: 1.6rem;

  width: 100%;

  &__item {
    cursor: pointer;

    @include flex-column;
    gap: 1.6rem;

    padding: 1.6rem;
    @include border($gray-600);

    transition: all 0.3s ease;

    &-prediction {
      @include flex-row(space-between, center);

      p,
      span,
      strong {
        font-size: 1.5rem;
      }

      p,
      strong {
        color: $gray-100;
      }

      span {
        color: $gray-500;
      }
    }

    &:focus {
      outline: 0;
    }

    &.active {
      background: linear-gradient(
        90deg,
        rgba(87, 81, 252, 0.4) 0%,
        rgba(87, 81, 252, 0.14) 100%
      );
      @include border($primary-500);
    }
  }
}

.pm-c-trade-form-liquidity {
  @include flex-column;

  width: 100%;

  > button {
    * {
      margin-left: auto;
    }
  }
}

.pm-c-trade-form-type-selector {
  @include flex-column;
  gap: 2.4rem;

  width: 100%;
}

.pm-c-trade-form-input {
  @include flex-column;
  gap: 0.3rem;

  width: 100%;

  &__group {
    @include flex-row(space-between, center);

    height: 5.2rem;
    padding: 1.2rem 0.8rem 1.2rem 1.6rem;

    background-color: $gray-700;
    border-radius: 0.4rem;
  }

  &__input {
    width: 100%;
    margin: 0rem 0.8rem 0rem 0rem;
    padding: 0rem;

    outline: none;
    border: none;
    box-sizing: border-box;

    background-color: unset;

    color: $gray-100;

    font-size: 2rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
      @extend .tiny, .semibold;
      color: $gray-300;
      text-transform: capitalize;
    }

    &-wallet {
      display: inline-flex;
      align-items: center;

      gap: 0.2rem;

      > figure {
        margin-right: 0.4rem;

        > svg {
          fill: $gray-500;
        }
      }

      > strong {
        color: $gray-100;
      }

      > span {
        color: $gray-500;
      }
    }
  }

  &__actions {
    display: flex;

    > button {
      cursor: pointer;
      touch-action: manipulation;

      margin: 0rem 0.4rem;
      padding: 0.4rem 0.6rem;
      background-color: $gray-600;

      appearance: none;
      outline: none;
      border: none;
      border-radius: 0.4rem;

      transition: background-color 0.3s ease;

      > span {
        color: $gray-300;
      }

      &:hover {
        background-color: $gray-700;

        > span {
          color: $gray-100;
        }
      }
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    margin: 0rem 0.8rem;

    > span {
      color: $gray-200;
    }
  }
}

.pm-c-trade-form-actions {
  @include flex-row;
  gap: 0.8rem;

  width: 100%;

  :last-child {
    flex-grow: 1;
  }
}

.pm-c-trade-form-details {
  @include flex-column;

  width: 100%;
}

.pm-c-trade-form-terms {
  @include flex-column;
  gap: 0.8rem;

  width: 100%;
}
