.pm-c-trade-form {
  @include flex-column(space-between, center);
  gap: 2.4rem;

  height: 100%;
  width: 32rem;

  &__group {
    @include flex-column(flex-start, center);

    width: 100%;
  }

  @media only screen and (max-height: 870px) {
    & > :last-child {
      padding-bottom: 2.4rem;
    }
  }
}

.pm-c-trade-form-charts {
  @include flex-column;
  width: 100%;
}

.pm-c-trade-form-predictions {
  @include flex-column;
  @include themes($market-themes) {
    gap: 1.6rem;

    width: 100%;

    &__item {
      cursor: pointer;

      @include flex-column;
      gap: 1.6rem;

      padding: 1.6rem;
      @include border(themed('option-border-color'));
      transition: all 0.2s ease-in-out 0s;

      &-prediction {
        @include flex-row(space-between, center);

        p,
        span,
        strong {
          font-size: 1.5rem;
        }

        p {
          color: themed('option-title-color');
          transition: all 0.2s ease-in-out 0s;
        }

        span {
          color: themed('option-odd-color');
          transition: all 0.2s ease-in-out 0s;
        }

        strong {
          color: themed('option-value-color');
          transition: all 0.2s ease-in-out 0s;
        }
      }

      &:focus {
        outline: 0;
      }

      &.active {
        background: themed('option-background-color-active');
        @include border(themed('option-border-color-active'));
      }
    }
  }
}

.pm-c-trade-form-liquidity {
  @include flex-column;

  width: 100%;

  > button {
    * {
      margin-left: auto;
    }
  }
}

.pm-c-trade-form-type-selector {
  @include flex-column;
  gap: 2.4rem;

  width: 100%;
}

.pm-c-trade-form-input {
  @include flex-column;
  gap: 0.3rem;

  width: 100%;

  &__group {
    @include flex-row(space-between, center);

    height: 5.2rem;
    padding: 1.2rem 0.8rem 1.2rem 1.6rem;

    background-color: $gray-700;
    border-radius: 0.4rem;
  }

  &__input {
    width: 100%;
    margin: 0rem 0.8rem 0rem 0rem;
    padding: 0rem;

    outline: none;
    border: none;
    box-sizing: border-box;

    background-color: unset;

    color: $gray-100;

    font-size: 2rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;

    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
      @extend .tiny, .semibold;
      color: $gray-300;
      text-transform: capitalize;
    }

    &-wallet {
      display: inline-flex;
      align-items: center;

      gap: 0.2rem;

      > figure {
        margin-right: 0.4rem;

        > svg {
          fill: $gray-500;
        }
      }

      > strong {
        color: $gray-100;
      }

      > span {
        color: $gray-500;
      }
    }
  }

  &__actions {
    display: flex;

    > button {
      cursor: pointer;
      touch-action: manipulation;

      margin: 0rem 0.4rem;
      padding: 0.4rem 0.6rem;
      background-color: $gray-600;

      appearance: none;
      outline: none;
      border: none;
      border-radius: 0.4rem;

      > span {
        color: $gray-300;
      }

      &:hover {
        background-color: $gray-600;

        > span {
          color: $gray-100;
        }
      }
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    margin: 0rem 0.8rem;

    > figure {
      display: flex;
    }

    > span {
      color: $gray-200;
    }
  }
}

.pm-c-trade-form-actions {
  @include flex-row;
  gap: 0.8rem;

  width: 100%;

  &__group--column {
    @include flex-column(center, flex-end, 1rem);
    width: 100%;
  }
}

.pm-c-trade-form-details {
  @include flex-column($justify: flex-end);

  width: 100%;

  // Added this height to make the form stay on the same position in either buy or sell tabs.
  height: 16.8rem;
}

.pm-c-trade-form-terms {
  @include flex-column;
  gap: 0.8rem;

  width: 100%;
}
