.container {
  > a {
    color: $primary-300;

    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    @include font-weight(bold);

    transition: color 0.2s ease-out;

    &:hover {
      color: $primary-500;
    }
  }

  > span {
    color: $grey-700;

    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    @include font-weight(bold);
  }
}
