.container {
  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 1.2rem 2.4rem;
  background-color: $white;
}

.logo {
  margin-right: 2.4rem;
}

.header {
  padding: 0rem 2.4rem;
}

.menu {
  display: inline;
  padding: 0rem;

  @media (max-width: 76.8rem) {
    display: none;
  }

  > li {
    display: inline;
  }
}

.item {
  padding: 0rem 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;

  color: $grey-500;
  @include font-weight(bold);

  transition: color 0.2s linear 0s;

  &:hover {
    color: $grey-900;
  }
}

.separator {
  display: inline;
  flex: 0 0 0rem;
  height: 2.4rem;

  margin: 0rem 1.2rem;

  align-self: center;
  border-right: 0.1rem solid $grey-300;
}

.actions {
  display: inline-flex;
  gap: 1.6rem;

  padding: 0px 2.4rem;
}
