.form {
  height: 100%;
  padding: 16px;

  border: none;

  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(223, 217, 255, 0.75);
  background-color: $neutral-white;

  display: flex;
  flex-direction: row;

  align-items: center;
}

.input {
  margin: 0px;
  width: 100%;

  outline: none;
  border: none;

  box-sizing: border-box;

  background-color: unset;

  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  @include font-weight(medium);

  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

  &::placeholder {
    color: $grey-500;
  }
}

.icon {
  float: right;

  cursor: pointer;
  touch-action: manipulation;

  margin-left: 6px;
  padding: 0px;

  border: none;

  background-color: unset;

  > svg {
    display: inline-block;
    vertical-align: middle;

    fill: $primary-500;
  }
}
