.container {
  display: flex;

  gap: 1.6rem;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.item {
  float: left;

  margin: 0rem;
  list-style-type: none;
  padding-left: 0rem;

  width: fit-content;

  > button {
    border: none;
    outline: none;
    padding: 0.8rem;

    background-color: unset;
    color: $grey-500;

    font-family: 'Gilroy', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    @include font-weight(semibold);

    cursor: pointer;
    transition: color 0.2s linear 0s, border 0.3s ease-out;

    &:hover {
      color: $primary-900;
    }
  }

  &.active {
    > button {
      color: $primary-500;
    }

    border-bottom: 0.3rem solid $primary-500;
  }
}

.content {
  display: none;

  &.active {
    display: block;
  }
}
