.regular {
}

.medium {
  @include font-weight(medium);
}

.bold {
  @include font-weight(bold);
}

.semibold {
  @include font-weight(semibold);
}

.lg {
  @include font-weight(regular);
  font-size: large;
}

.lg-medium {
  @extend .lg;
  @include font-weight(medium);
}

.lg-bold {
  @extend .lg;
  @include font-weight(bold);
}

.xs {
  @include font-weight(regular);
  font-size: x-small;
}

.xs-bold {
  @extend .xs;
  @include font-weight(bold);
}

.xs-medium {
  @extend .xs;
  @include font-weight(medium);
}

.xs-semibold {
  @extend .xs;
  @include font-weight(semibold);
}

.capitalize {
  text-transform: capitalize;
}
