.pm-c-category {
  position: relative;
  border-radius: 0.4rem;

  &__header {
    @include flex-row(space-between, center);
    gap: 1rem;
    padding: 1.6rem;
    padding-bottom: 0.5rem;
  }

  &__body {
    width: 100%;
  }
}

@each $color-variant, $color in $gradient-colors {
  .pm-c-category--#{$color-variant} {
    @extend .pm-c-category;
    @include card-background-color($color-variant, $color);
  }
}

.pm-c-category--disabled {
  @extend .pm-c-category;

  background: linear-gradient(
    106.37deg,
    rgba(99, 112, 132, 0.3) 0%,
    rgba(168, 176, 189, 0.3) 99.91%
  );

  .pm-c-category__body {
    filter: blur(0.4rem);
  }

  &:hover {
    opacity: 1;
  }

  .label-normal--primary {
    opacity: 1;
  }
}
