.checkbox {
  display: block;
  position: relative;
  padding-left: 3.2rem;

  cursor: pointer;
  font-size: 2.2rem;
  user-select: none;

  color: $gray-300;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  @include border($gray-500, 0.1rem, 0.2rem);
}

.checkbox input:checked ~ .checkmark {
  background-color: $primary-500;
  border-color: $primary-500;
  box-shadow: 0px 0px 0px 3px rbga($primary-500, 0.4);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 0.5rem;
  top: 0.1rem;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0rem 0.3rem 0.3rem 0rem;
  transform: rotate(45deg);
}
