.menu {
  margin: 0rem;
  padding: 0rem;

  &__item {
    display: inline-block;
    padding: 0rem 1.2rem;

    > * {
      color: $gray-500;
      @extend .semibold;

      transition: color 0.3s ease 0s;
    }

    svg {
      fill: $gray-500;
      transition: fill 0.3s ease 0s;
    }

    // &:hover,
    // &:focus {
    //   a {
    //     color: $gray-100;
    //   }
    // }
  }
}

.menu--row {
  @include flex-row;
}

.menu--column {
  @include flex-column;
}
