REACT_APP_PREDICTION_MARKET_CONTRACT_ADDRESS='0xc88C653D68551cE783f1e18b6b4a4Ba69690D1DB'
REACT_APP_REALITIO_ERC20_CONTRACT_ADDRESS='0x0166dc9aa1a1feb90cdf4211978738cff52481dd'
REACT_APP_ERC20_CONTRACT_ADDRESS='0x602a1cC7e66Dc2979d7d1D80d4F394858DF03189'
REACT_APP_GOVERNANCE_CONTRACT_ADDRESS='0x602a1cC7e66Dc2979d7d1D80d4F394858DF03189'
REACT_APP_SOSMARKET_API_URL='https://api.sosmarket.io'
REACT_APP_RESTRICTED_COUNTRIES='BS,BW,VG,KH,CM,KY,KP,CD,ER,GH,IS,IR,LY,MN,PK,PA,CN,SG,SO,SS,SD,SY,TT,US,YE,ZW'
REACT_APP_NETWORK_ID=4
REACT_APP_WEB3_PROVIDER='https://rinkeby.infura.io/v3/766e4c67449148de9b3aeba82b0d03e6'
SKIP_PREFLIGHT_CHECK=true
