$label-sm-padding-y: 0.15rem !default;
$label-sm-padding-x: 0.8rem !default;

$label-sm-font-size: 1.2rem !default;
$label-sm-font-weight: 600 !default;
$label-sm-line-height: 1.8rem !default;

$label-lg-padding-y: 0.1rem !default;
$label-lg-padding-x: 0.6rem !default;

$label-lg-font-size: 1.4rem !default;
$label-lg-font-weight: 700 !default;
$label-lg-line-height: 2.1rem !default;

$label-border-width: 0.1rem !default;
$label-border-radius: 1.6rem !default;

$label-transitions: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
  border-color 0.2s ease-in-out !default;
