@import 'styles/base/colors';

.button {
  display: inline-block;

  cursor: pointer;
  touch-action: manipulation;

  margin: 0px;
  padding: 16px 24px;

  outline: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;

  transition: 220ms all ease-in-out;

  &:disabled {
    cursor: unset;
    touch-action: unset;
  }
}

.icon {
  max-height: 24px;

  > svg {
    fill: $gray-900;
  }

  &.center {
    align-self: center;
  }

  &.left {
    margin-right: 12px;
    float: left;
  }

  &.right {
    margin-left: 12px;
    float: right;
  }
}

.default {
  @extend .button;
  color: $gray-900;
  background-color: $white;

  border: 1px solid $gray-300;

  &:hover {
    background-color: $gray-300;
  }

  &:disabled {
    color: $gray-500;
    background-color: $white;

    border: 1px solid $gray-500;
  }
}

.noborder {
  @extend .button;
  color: $gray-700;
  background-color: $white;

  border: none;

  &:hover {
    background-color: $gray-300;
  }

  &:disabled {
    color: $gray-500;
    background-color: $white;
  }
}

.primary {
  @extend .button;
  color: $white;
  background-color: $primary-500;

  border: 1px solid $primary-500;

  &:hover {
    background-color: $primary-900;

    border: 1px solid $primary-900;
  }

  &:disabled {
    background-color: $primary-400;

    border: 1px solid $primary-400;
  }
}

.secondary {
  @extend .button;
  color: $primary-500;
  background-color: $primary-100;

  border: 1px solid $primary-100;

  &:hover {
    color: $primary-500;
    background-color: $primary-300;

    border: 1px solid $primary-300;
  }

  &:disabled {
    color: $primary-200;
    background-color: $primary-100;

    border: 1px solid $primary-100;
  }
}

.success {
  @extend .button;
  color: $white;
  background-color: $success-500;

  border: 1px solid $success-500;

  &:hover {
    color: $white;
    background-color: $success-900;

    border: 1px solid $success-900;
  }

  &:disabled {
    color: $success-200;
    background-color: $success-300;

    border: 1px solid $success-300;
  }
}

.warning {
  @extend .button;
  color: $white;
  background-color: $warning-500;

  border: 1px solid $warning-500;

  &:hover {
    color: $white;
    background-color: $warning-900;

    border: 1px solid $warning-900;
  }

  &:disabled {
    color: $warning-200;
    background-color: $warning-300;

    border: 1px solid $warning-300;
  }
}

.danger {
  @extend .button;
  color: $white;
  background-color: $danger-500;

  border: 1px solid $danger-500;

  &:hover {
    color: $white;
    background-color: $danger-900;

    border: 1px solid $danger-900;
  }

  &:disabled {
    color: $danger-200;
    background-color: $danger-300;

    border: 1px solid $danger-300;
  }
}
