$button-padding-y: 1rem !default;
$button-padding-x: 1.4rem !default;

$button-font-size: 1.7rem !default;
$button-font-weight: 600 !default;
$button-line-height: 1.4 !default;

$button-border-width: 0.1rem !default;
$button-border-radius: 0.4rem !default;

$button-transitions: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
