$primary-50: #f5f5ff;
$primary-100: #ecebff;
$primary-200: #d3d2fe;
$primary-300: #b6b4fe;
$primary-400: #8682fd;
$primary-500: #5751fc;
$primary-500-30: hsl(242, 97%, 65%, 30%);
$primary-600: #251dfb;
$primary-700: #0c04e2;
$primary-800: #0903af;
$primary-900: #06027d;

$secondary-50: #fff5fa;
$secondary-100: #ffebf5;
$secondary-200: #ffb3db;
$secondary-300: #ff80c3;
$secondary-400: #ff4dab;
$secondary-500: #e6007a;
$secondary-600: #b2005f;
$secondary-700: #800044;
$secondary-800: #4d0029;
$secondary-900: #1a000e;

$success-50: #f7fdfb;
$success-100: #effbf6;
$success-200: #c5f1e0;
$success-300: #9ce7c9;
$success-400: #6fddb0;
$success-500: #46d39a;
$success-500-30: hsl(156, 62%, 55%, 30%);
$success-600: #2cb980;
$success-700: #229064;
$success-800: #186747;
$success-900: #0f3e2b;

$warning-50: #fffcf5;
$warning-100: #fff9eb;
$warning-200: #feebb9;
$warning-300: #fddc87;
$warning-400: #fccd55;
$warning-500: #fbbf24;
$warning-600: #e6a704;
$warning-700: #b48303;
$warning-800: #825f02;
$warning-900: #503a01;

$danger-50: #fef6f6;
$danger-100: #fdecec;
$danger-200: #fbd0d0;
$danger-300: #f7a1a1;
$danger-400: #f37272;
$danger-500: #ef4444;
$danger-500-30: hsl(0, 84%, 60%, 30%);
$danger-600: #eb1414;
$danger-700: #bc1010;
$danger-800: #8d0c0c;
$danger-900: #5e0808;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #c5cad3;
$gray-300: #a8b0bd;
$gray-400: #8a96a8;
$gray-500: #637084;
$gray-600: #252c3b;
$gray-700: #171b23;
$gray-800: #13161e;
$gray-900: #101219;
$gray-1000: #0e1016;

$neutral-black: hsl(0, 0%, 0%);
$neutral-white-50: hsla(0, 0%, 100%, 0.5);
$neutral-white: hsl(0, 0%, 100%);
$neutral-0: hsl(0, 0%, 100%);

$alternative-colors-purple: hsl(255, 100%, 75%);
$alternative-colors-blue: hsl(209, 100%, 71%);
$alternative-colors-pink: hsl(338, 100%, 76%);

$border-dark-mode: hsl(225, 22%, 15%);
$background-dark-mode-highlight: hsl(217, 40%, 14%);
$input-background-dark: hsl(224, 22%, 14%);

$shadow-light: rgba(hsl(249, 100%, 97%), 0.75);
$shadow-dark: rgba(hsl(0, 0%, 0%), 1);

$card-background-dark: hsl(220, 21%, 11%);
$card-shadow-light: 0rem 0.4rem 2.4rem $shadow-light;
$card-shadow-dark: 0rem 0.4rem 4rem $shadow-dark;

$card-gradient-yellow: linear-gradient(106.37deg, #bd7052 0%, #e5cc73 99.91%);
$card-gradient-blue: linear-gradient(106.37deg, #52b7bd 0%, #8373e5 99.91%);
$card-gradient-green: linear-gradient(106.37deg, #52bd70 0%, #73d0e5 99.91%);
$card-gradient-pink: linear-gradient(106.37deg, #ae52bd 0%, #e57381 99.91%);
$card-gradient-orange: linear-gradient(106.37deg, #bd5252 0%, #e59c73 99.91%);

$sidebar-background-dark: hsl(222, 22%, 9%);

$bg-light: hsl(223, 100%, 99%);
$bg-dark: $gray-1000;

$default: $gray-1000 !default;
$primary: $primary-500 !default;
$secondary: $secondary-500 !default;
$success: $success-500 !default;
$warning: $warning-500 !default;
$danger: $danger-500 !default;

$theme-colors: (
  'default': $default,
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger
) !default;
