$outcome-padding-y: 1.6rem !default;
$outcome-padding-x: 1.6rem !default;
$outcome-border-radius: 0.4rem !default;

$outcome-themes: (
  light: (
    outcome-text-color: #171b23,
    outcome-icon-color: #637084,
    outcome-background-color-selected: mix(#ffffff, #5d55fa, 86%),
    outcome-border-color-default: #e0e2e7,
    outcome-border-color-selected: #bcb9fd,
    outcome-border-color-success: #83ceb7,
    outcome-border-color-error: #ef8b92,
    outcome-border-color-warning: #f6d484
  ),
  dark: (
    outcome-text-color: #f9fafb,
    outcome-icon-color: #637084,
    outcome-background-color-selected: mix(#000000, #5d55fa, 75%),
    outcome-border-color-default: #252c3b,
    outcome-border-color-selected: #3a359c,
    outcome-border-color-success: #186b52,
    outcome-border-color-error: #8c1c23,
    outcome-border-color-warning: #8a6717
  )
) !default;
