$report-form-themes: (
  light: (
    report-form-details-item-bold-color: #171b23,
    report-form-details-item-normal-color: #a7b0bd,
    report-form-details-item-new-bond-color: #27ab83,
    report-form-details-separator-color: #e0e2e7
  ),
  dark: (
    report-form-details-item-bold-color: #f9fafb,
    report-form-details-item-normal-color: #637084,
    report-form-details-item-new-bond-color: #27ab83,
    report-form-details-separator-color: #252c3b
  )
) !default;
