$primary-100: hsl(248, 100%, 97%);
$primary-300: hsl(241, 100%, 81%);
$primary-500: hsl(242, 97%, 65%);
$primary-700: hsl(239, 60%, 47%);
$primary-900: hsl(242, 97%, 26%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-white-50: hsla(0, 0%, 100%, 0.5);
$neutral-black: hsl(0, 0%, 0%);
$neutral-0: hsl(0, 0%, 100%);

$pink-100: hsl(330, 100%, 97%);
$pink-500: hsl(328, 100%, 45%);
$pink-900: hsl(328, 100%, 30%);
$pink-300: hsl(328, 82%, 78%);

$warning-100: hsl(48, 100%, 93%);
$warning-500: hsl(43, 96%, 56%);
$warning-900: hsl(32, 95%, 44%);

$danger-100: hsl(0, 86%, 97%);
$danger-500: hsl(0, 84%, 60%);
$danger-900: hsl(0, 74%, 42%);

$success-100: hsl(158, 58%, 96%);
$success-500: hsl(156, 62%, 55%);
$success-900: hsl(162, 100%, 27%);

$secondary-purple: hsl(255, 100%, 75%);
$secondary-blue: hsl(209, 100%, 71%);
$secondary-pink: hsl(338, 100%, 76%);

$border-dark-mode: hsl(225, 22%, 15%);
$background-dark-mode-highlight: hsl(217, 40%, 14%);
$input-background-dark: hsl(224, 22%, 14%);

$shadow-light: rgba(hsl(249, 100, 97), 0.75);
$shadow-dark: rgba(hsl(0, 0, 0), 1);

$card-background-dark: hsl(220, 21%, 11%);
$card-shadow-light: 0rem 0.4rem 2.4rem $shadow-light;
$card-shadow-dark: 0rem 0.4rem 4rem $shadow-dark;

$card-gradient-yellow: linear-gradient(106.37deg, #bd7052 0%, #e5cc73 99.91%);
$card-gradient-blue: linear-gradient(106.37deg, #52b7bd 0%, #8373e5 99.91%);
$card-gradient-green: linear-gradient(106.37deg, #52bd70 0%, #73d0e5 99.91%);
$card-gradient-pink: linear-gradient(106.37deg, #ae52bd 0%, #e57381 99.91%);
$card-gradient-orange: linear-gradient(106.37deg, #bd5252 0%, #e59c73 99.91%);

$grey-50: hsl(0, 0%, 98%);
$grey-100: hsl(220, 14%, 96%);
$grey-200: hsl(225, 9%, 91%);
$grey-300: hsl(217, 10%, 84%);
$grey-400: hsl(219, 9%, 65%);
$grey-500: hsl(219, 10%, 46%);
$grey-600: hsl(213, 10%, 34%);
$grey-700: hsl(216, 14%, 45%);
$grey-800: hsl(218, 9%, 17%);
$grey-900: hsl(220, 11%, 11%);
$grey-1000: hsl(216, 40%, 12%);

$bg-light: hsl(223, 100%, 99%);
$bg-dark: hsl(225, 22%, 7%);
