@mixin font-weight($style: normal) {
  $style: to_lower_case($style);
  $weights: (
    thin: 100,
    ultralight: 100,
    ultra-light: 100,
    extralight: 200,
    extra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    medium: 500,
    demi: 600,
    semibold: 600,
    semi-bold: 600,
    bold: 700,
    extrabold: 800,
    extra-bold: 800,
    black: 900,
    heavy: 900,
    ultrabold: 900,
    ultra-bold: 900
  );
  font-weight: if(
    map-has-key($weights, $style),
    map-get($weights, $style),
    map-get($weights, normal)
  );
}

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
