$sidebar-themes: (
  light: (
    background-color: #fbfcfe,
    text-color: #8193ae,
    text-color-hover: #313a4c,
    text-color-active: #313a4c,
    separator-color: #e3e7f0,
    shadow: $light-shadow-lg
  ),
  dark: (
    background-color: #12141c,
    text-color: #637084,
    text-color-hover: #f9fafb,
    text-color-active: #f9fafb,
    separator-color: #252c3b,
    shadow: $dark-shadow-lg
  )
) !default;
