.pm-p-create-market {
  @include themes($create-market-page-themes) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      width: 70rem;

      &-title {
        font-size: 2.6rem;
        color: themed('create-market-page-title-color');
      }
    }

    &__notification-wrapper {
      position: relative;
      width: fit-content;
      height: fit-content;
    }

    &__notification-overlay,
    &__image-cropper-overlay {
      @include flex-column(flex-start, center);
      position: absolute;
      z-index: 100;

      width: 100%;
      height: 100%;

      padding-top: 7.5rem;
      background: themed('notification-overlay-background-color');
    }

    &__image-cropper-overlay {
      margin-top: -2.5rem;
      margin-left: -2.5rem;
    }
  }
}

.pm-p-create-market-buy-polk {
  @include themes($create-market-page-buy-polk-themes) {
    @include flex-column(center, center, 1.7rem);

    width: 34.8rem;
    height: fit-content;

    padding: $create-market-page-buy-polk-padding-y
      $create-market-page-buy-polk-padding-x;

    background-color: themed('background-color');
    border: solid $create-market-page-buy-polk-border-width
      themed('border-color');
    border-radius: $create-market-page-buy-polk-border-radius;
    box-shadow: themed('shadow');

    &__group--column {
      @include flex-column(center, center, 0.4rem);
    }

    &__icon {
      height: 1.6rem;
      width: 1.6rem;
      fill: themed('details-color');
    }

    &__title {
      color: map-get(themed('text-colors'), 'secondary');
      text-align: center;
    }

    &__amount {
      color: map-get(themed('text-colors'), 'primary');
    }
  }
}
