.pm-p-create-market {
  @include themes($create-market-page-themes) {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-title {
        font-size: 2.6rem;
        color: themed('create-market-page-title-color');
      }
    }
  }
}
