.content {
  width: 100%;
  max-width: 160rem;

  margin: 1.2rem auto 0rem auto;
}

.markets {
  display: grid;
  grid-template-columns: repeat(5, minmax(20.5rem, 1fr));
  grid-gap: 2rem;

  :nth-child(1):not(p) {
    background: $card-gradient-yellow;
  }

  :nth-child(2) {
    background: $card-gradient-blue;
  }

  :nth-child(3) {
    background: $card-gradient-green;
  }

  :nth-child(4) {
    background: $card-gradient-pink;
  }

  :nth-child(5) {
    background: $card-gradient-orange;
  }
}

.market {
  cursor: pointer;
  touch-action: manipulation;

  display: grid;
  grid-template-rows: 1fr 3fr;

  height: 9rem;
  padding: 2rem;

  border-radius: 0.4rem;

  > p {
    font-size: 1.8rem;
    color: $neutral-white;
  }
}

.navigation {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  height: 4.4rem; //Modify later
}

.filters {
  display: inline-flex;
  gap: 3.2rem;
}
