.pm-home {
  width: 100%;
  margin: 0rem auto;

  display: grid;
  grid-template-columns: 1fr auto;

  &__mobile-info {
    @include flex-column(center, center);

    margin: 1.6rem 0rem;

    @include breakpoint-to('sm') {
      display: none;
    }
  }

  &__categories {
    display: none;

    @include breakpoint-to('sm') {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 2rem;

      margin: 0 0rem 2.4rem 0rem;
    }
  }

  &__content {
    grid-column: 1;
  }

  &__sidebar {
    grid-column: 2;
  }
}

.navigation {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.filters {
  @include flex-row;

  gap: 3.2rem;

  height: fit-content;
}
