.home-page {
  width: 100%;

  margin: 0rem auto;

  display: grid;
  grid-template-columns: 1fr auto;

  &__content {
    grid-column: 1;
  }

  &__sidebar {
    grid-column: 2;
  }
}

.markets {
  display: grid;
  grid-template-columns: repeat(5, minmax(20.5rem, 1fr));
  grid-gap: 2rem;

  margin: 1.2rem 0rem 2.4rem 0rem;
}

.navigation {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.filters {
  display: inline-flex;
  gap: 3.2rem;

  height: fit-content;
}
