.market-analytics {
  &__group {
    gap: 1.6rem;
    height: 100%;
  }

  &__item {
    flex-grow: 1;
    height: 8rem;
  }
}

.pm-market__loading {
  @include flex-column(center, center);

  height: 100%;
  width: 100%;
}

.pm-p-market {
  @include themes($market-themes) {
    display: grid;
    width: 100%;

    grid-template-areas:
      'analytics'
      'market'
      'view'
      'charts';

    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    gap: 1.6rem;

    @include breakpoint-to('md') {
      grid-template-areas:
        'analytics analytics'
        'market actions'
        'view view'
        'charts stats'
        'tabs tabs';

      grid-template-columns: 75% 25%;
      grid-template-rows: auto auto auto auto auto;
    }

    &__analytics {
      grid-area: analytics;
    }

    &__market {
      grid-area: market;
    }

    &__actions {
      grid-area: actions;
      display: none;

      @include breakpoint-to('md') {
        @include flex-row(flex-end, center);
      }
    }

    &__view {
      grid-area: view;
    }

    &__charts {
      grid-area: charts;
    }

    &__stats {
      grid-area: stats;
      display: none;

      @include breakpoint-to('md') {
        @include flex-column(flex-start, stretch, 1.6rem);
        height: 100%;

        &-item {
          height: 100%;

          &__price {
            color: themed('analytics-text-color');
          }
        }
      }
    }

    &__tabs {
      grid-area: tabs;
      display: none;

      @include breakpoint-to('md') {
        @include flex-column;
        width: 100%;
        padding-top: 1rem;
      }
    }

    &__news {
      color: themed('news-text-color');
    }
  }
}
