.market-page {
  @include flex-column;
  gap: 1.6rem;

  width: 100%;
  padding: 2.4rem 0rem;

  &__stats {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.6rem;
  }
}

.market-analytics {
  &__group {
    gap: 1.6rem;
    height: 100%;
  }

  &__item {
    flex-grow: 1;
    height: 8rem;
  }
}

.pm-market {
  &__stats {
    @include flex-column;
    gap: 1.6rem;

    &-item {
      flex-grow: 1;
    }
  }
}

.pm-market__loading {
  @include flex-column(center, center);

  height: 100%;
  width: 100%;
}
