.market-page {
  @include flex-column;
  gap: 1.6rem;

  width: 100%;
  padding: 2.4rem 0rem;

  > p {
    color: white;
  }

  &__stats {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.6rem;
  }
}
