.portfolio-page {
  @include flex-column;
  gap: 2.4rem;

  width: 100%;

  &__header {
    @include flex-row(space-between, center);

    &-title {
      color: $gray-100;
    }

    &-actions {
      @include flex-row;
      gap: 4.8rem;
    }
  }

  &__analytics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.4rem;
  }
}

.portfolio-chart {
  @include themes($portfolio-themes) {
    @include flex-column;
    gap: 1rem;

    padding: 2.4rem;

    @include border(themed('chart-border-color'));
    transition: $portfolio-transitions;

    &__header {
      @include flex-column;
      gap: 0.4rem;

      &-balance {
        @include flex-column;

        > h4 {
          font-size: 2.6rem;
          color: themed('text-primary-color');
        }

        > span {
          color: themed('text-secondary-color');
        }
      }

      %change {
        @include flex-row(flex-start, center);
        gap: 0.8rem;
      }

      &-change--up {
        @extend %change;
      }

      &-change--down {
        @extend %change;
      }
    }
  }
}

.portfolio-tabs {
  @include flex-column;
  gap: 1rem;

  &__header {
    @include flex-row(space-between, center);
  }

  &__content {
    width: 100%;
  }
}
