::-moz-selection {
  color: $neutral-white;
  background: $primary-500;
}

::selection {
  color: $neutral-white;
  background: $primary-500;
}

// Thanks to @kaitlinmctigue at github.com/kaitlinmctigue
$background: 'background';
$text-base: 'text-base';
$text-hover: 'text-hover';

$input-background: 'input-background';
$input-text: 'input-text';
$input-icon: 'input-icon';

$button-text: 'button-text';

$themes: (
  light: (
    background: $bg-light,
    text-base: $grey-500,
    text-hover: $grey-900,
    input-background: $grey-200,
    input-text: $neutral-black,
    input-icon: $primary-500,
    button-text: $grey-900
  ),
  dark: (
    background: $bg-dark,
    text-base: $grey-700,
    text-hover: $neutral-white,
    input-background: $input-background-dark,
    input-text: $neutral-white,
    input-icon: $grey-700,
    button-text: $neutral-white
  )
);
