.overlay {
  display: none;
  justify-content: flex-end;
  align-items: center;

  left: 0;
  position: fixed;
  z-index: 100;
  top: 0;

  min-height: 100vh;
  min-width: 100vw;

  background-color: rgba(2, 0, 53, 0.24);
  opacity: 0;
  transition: opacity 0.2s ease;

  &.visible {
    display: flex;
    opacity: 1;
  }
}
