@mixin button-group-color(
  $color-variant,
  $color,
  $background: rgba($color, 0.3)
) {
  @if $color-variant == default {
    border-color: $gray-600;

    .pm-c-button-group__item {
      color: $gray-200;

      &.active {
        color: $gray-100;
        background-color: $gray-600;
      }
    }
  } @else {
    border-color: $background;

    .pm-c-button-group__item {
      color: $color;

      &.active {
        color: $gray-100;
        background-color: $background;
      }
    }
  }
}
