@mixin button-group-size($size) {
  @if $size == 'normal' {
    .pm-c-button-group__item {
      @extend .tiny, .semibold;
      padding: $button-group-item-normal-padding-y
        $button-group-item-normal-padding-x;
    }
  }

  @if $size == 'sm' {
    .pm-c-button-group__item {
      @extend .tiny, .semibold;
      padding: $button-group-item-sm-padding-y $button-group-item-sm-padding-x;
    }
  }

  @if $size == 'lg' {
    .pm-c-button-group__item {
      @extend .caption, .semibold;
      padding: $button-group-item-lg-padding-y $button-group-item-lg-padding-x;
    }
  }
}

@mixin button-group-color(
  $background-colors-map,
  $text-colors-map,
  $border-color
) {
  border-color: $border-color;

  .pm-c-button-group__item {
    color: map-get($text-colors-map, 'text-color');
    background-color: map-get($background-colors-map, 'background-color');

    svg {
      fill: map-get($text-colors-map, 'text-color');
    }

    &.active {
      color: map-get($text-colors-map, 'text-color-active');
      background-color: map-get(
        $background-colors-map,
        'background-color-active'
      );

      svg {
        fill: map-get($text-colors-map, 'text-color-active');
      }
    }
  }
}
