@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-normal-color(
  $color,
  $background,
  $background-hover: darken($background, 10%)
) {
  color: $neutral-white;
  background-color: $background;
  border-width: 0.1rem;
  border-style: solid;

  svg {
    fill: $neutral-white;
  }

  @if $color == default {
    border-color: $gray-600;
  } @else {
    border-color: $background;
  }

  &:hover,
  :focus {
    @if $color != default {
      border-color: $background-hover;
    }
    background-color: $background-hover;
  }

  &:disabled {
    opacity: 0.7;
  }
}

@mixin button-dark-color(
  $color,
  $background,
  $background-hover: darken($background, 5%)
) {
  color: $gray-100;
  background-color: $background;
  border-width: 0.1rem;
  border-style: solid;
  border-color: $background;

  svg {
    fill: $gray-100;
  }

  &:hover,
  :focus {
    border-color: $background-hover;
    background-color: $background-hover;
  }

  &:disabled {
    opacity: 0.7;
  }
}

@mixin button-outline-color($color, $background) {
  color: $background;
  border-width: 0.1rem;
  border-style: solid;
  border-color: $background;

  svg {
    fill: $background;
  }

  @if $color == default {
    color: $gray-300;
    border-color: $gray-600;

    svg {
      fill: $gray-300;
    }
  }

  &:hover,
  :focus {
    @if $color != default {
      color: $neutral-white;

      svg {
        fill: $neutral-white;
      }
    }
    background-color: $background;
  }

  &:disabled {
    opacity: 0.7;
  }
}
