@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-variant(
  $variant,
  $background,
  $background-hover: darken($background, 10%)
) {
  color: $neutral-white;
  background-color: $background;
  border-width: 0.1rem;
  border-style: solid;

  svg {
    fill: $neutral-white;
  }

  @if $variant == default {
    border-color: $gray-600;
  } @else {
    border-color: $background;
  }

  &:hover,
  :focus {
    @if $variant != default {
      border-color: $background-hover;
    }
    background-color: $background-hover;
  }

  &:disabled {
    opacity: 0.7;
  }
}
