@mixin button-size($size) {
  @if $size == 'normal' {
    @extend .body, .semibold;
    padding: $button-padding-y $button-padding-x;
    gap: $button-gap;
  }

  @if $size == 'sm' {
    @extend .caption, .semibold;
    padding: $button-sm-padding-y $button-sm-padding-x;
    gap: $button-sm-gap;
  }

  @if $size == 'xs' {
    @extend .tiny, .semibold;
    padding: $button-xs-padding-y $button-xs-padding-x;
    gap: $button-xs-gap;
  }
}

@mixin button-normal-color($background-colors-map, $text-color) {
  color: $text-color;
  background-color: map-get($background-colors-map, 'background-color');
  border-color: map-get($background-colors-map, 'background-color');

  &:hover,
  &:focus {
    background-color: map-get($background-colors-map, 'background-color-hover');
  }

  &:disabled {
    background-color: map-get(
      $background-colors-map,
      'background-color-disabled'
    );
    border-color: map-get($background-colors-map, 'background-color-disabled');
  }

  svg {
    fill: $text-color;
  }
}

@mixin button-outline-color(
  $background-colors-map,
  $border-colors-map,
  $text-colors-map
) {
  color: map-get($text-colors-map, 'text-color');
  background-color: map-get($background-colors-map, 'background-color');
  border-color: map-get($border-colors-map, 'border-color');

  svg {
    fill: map-get($text-colors-map, 'text-color');
  }

  &:hover,
  &:focus {
    color: map-get($text-colors-map, 'text-color-hover');
    background-color: map-get($background-colors-map, 'background-color-hover');
    border-color: map-get($border-colors-map, 'border-color-hover');

    svg {
      fill: map-get($text-colors-map, 'text-color-hover');
    }
  }

  &:disabled {
    color: map-get($text-colors-map, 'text-color-disabled');
    background-color: map-get(
      $background-colors-map,
      'background-color-disabled'
    );
    border-color: map-get($border-colors-map, 'border-color-disabled');

    svg {
      fill: map-get($text-colors-map, 'text-color-disabled');
    }

    opacity: 0.5;
  }
}

@mixin button-subtle-color($background-colors-map, $text-colors-map) {
  color: map-get($text-colors-map, 'text-color');
  background-color: map-get($background-colors-map, 'background-color');
  border-color: map-get($background-colors-map, 'background-color');

  svg {
    fill: map-get($text-colors-map, 'text-color');
  }

  &:hover,
  &:focus {
    color: map-get($text-colors-map, 'text-color-hover');
    background-color: map-get($background-colors-map, 'background-color-hover');
    border-color: map-get($background-colors-map, 'background-color-hover');

    svg {
      fill: map-get($text-colors-map, 'text-color-hover');
    }
  }

  &:disabled {
    color: map-get($text-colors-map, 'text-color-disabled');
    background-color: map-get(
      $background-colors-map,
      'background-color-disabled'
    );
    border-color: map-get($background-colors-map, 'background-color-disabled');

    svg {
      fill: map-get($text-colors-map, 'text-color-disabled');
    }

    opacity: 0.5;
  }
}

@mixin button-ghost-color($background-colors-map, $text-colors-map) {
  color: map-get($text-colors-map, 'text-color');
  background-color: map-get($background-colors-map, 'background-color');
  border-color: map-get($background-colors-map, 'background-color');

  svg {
    fill: map-get($text-colors-map, 'text-color');
  }

  &:hover,
  &:focus {
    color: map-get($text-colors-map, 'text-color-hover');
    background-color: map-get($background-colors-map, 'background-color-hover');
    border-color: map-get($background-colors-map, 'background-color-hover');

    svg {
      fill: map-get($text-colors-map, 'text-color-hover');
    }
  }

  &:disabled {
    color: map-get($text-colors-map, 'text-color-disabled');
    background-color: map-get(
      $background-colors-map,
      'background-color-disabled'
    );
    border-color: map-get($background-colors-map, 'background-color-disabled');

    svg {
      fill: map-get($text-colors-map, 'text-color-disabled');
    }

    opacity: 0.5;
  }
}
