@mixin mini-table-item-color($color-variant, $color) {
  @if $color-variant == default {
    @include themes($mini-table-themes) {
      span {
        color: themed('mini-table-item-title-color');
      }

      strong {
        color: themed('mini-table-item-value-color');
      }

      .fill-empty-space {
        border-color: themed('mini-table-item-title-color');
      }
    }
  } @else {
    span,
    strong {
      color: $color;
    }

    .fill-empty-space {
      border-color: $color;
    }
  }
}
