$portfolio-themes: (
  light: (
    chart-border-color: #e3e7f0,
    text-primary-color: #171b23,
    text-secondary-color: #8193ae
  ),
  dark: (
    chart-border-color: #26272c,
    text-primary-color: #f3f4f6,
    text-secondary-color: #a7b0bd
  )
) !default;

$portfolio-transitions: all 0.2s ease-in-out 0s !default;
