.container {
  display: flex;
  flex-direction: column;

  gap: 0.9rem;

  width: 38rem;
}

.market {
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  > h1 {
    font-size: 1.6rem;
    color: $gray-900;
  }

  > button {
    display: inline-block;

    cursor: pointer;
    touch-action: manipulation;

    margin: 0rem;
    padding: 0.3rem;

    outline: none;
    border: none;

    background-color: unset;

    > svg {
      fill: $gray-500;

      transition: fill 0.2s ease-out;

      &:hover {
        fill: $gray-900;
      }
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-gap: 0.4rem;

  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.4rem;

  padding: 0.8rem 1.6rem;

  border: 0.1rem solid $primary-100;
  border-radius: 0.4rem;

  > label {
    font-size: 1.1rem;
    color: $primary-500;
  }

  > strong {
    font-size: 1.3rem;
    color: $gray-900;

    > span {
      color: $gray-500;
    }
  }
}

.odds {
  > p {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 2rem;
    margin: 0.8rem 0rem;
  }
}
