.container {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;

  padding: 0rem 1.2rem;

  border: 0.1rem solid $gray-400;
  border-radius: 0.4rem;
}

.group {
  display: flex;
  flex-direction: row;
}

.input {
  width: 100%;
  margin: 0rem;
  padding: 1.2rem 0rem;

  outline: none;
  border: none;

  color: $gray-500;

  font-size: 1.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

  &::placeholder {
    color: $gray-500;
  }
}

.button {
  display: inline-block;

  cursor: pointer;
  touch-action: manipulation;

  margin: 0rem;
  padding: 0rem 1.2rem;

  outline: none;
  border: none;
  border-right: 0.1rem solid $gray-400;

  background-color: unset;

  color: $pink-500;
  @include font-weight(semibold);
  font-size: 1.4rem;
}

.end {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  padding: 0rem 1.2rem;

  > svg {
    margin: 0rem 0.4rem;
  }

  > span {
    font-size: 1.3rem;
    color: $gray-900;
  }
}
