name: Deploy to OSS

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

env:
  CI: false

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2

        - name: Install dependencies
          run: yarn

        - name: Build
          run: yarn build

        - name: Setup Aliyun OSS
          uses: manyuanrong/setup-ossutil@master
          with:
            endpoint: oss-us-west-1.aliyuncs.com
            access-key-id: ${{ secrets.OSS_KEY_ID }}
            access-key-secret: ${{ secrets.OSS_KEY_SECRET }}

        - name: Sync to OSS
          run: ossutil sync --delete build/ oss://opendao-sosmarket/
