$primary-900: #070283;
$primary-700: #3033be;
$primary-500: #5751fc;
$primary-400: #aba8fd;
$primary-300: #d2d1fe;
$primary-200: #d2d0fe;
$primary-100: #f2f0ff;

$success-900: #008860;
$success-500: #24b98c;
$success-300: #91dcc5;
$success-200: #c8ede3;
$sucess-100: #effbf7;

$danger-900: #b91c1c;
$danger-500: #ef4444;
$danger-300: #f7a1a1;
$danger-200: #fbd0d0;
$danger-100: #fef2f2;

$warning-900: #d97706;
$warning-500: #fbbf24;
$warning-300: #fddf91;
$warning-200: #feefc8;
$warning-100: #fffbeb;

$gray-900: #283b57;
$gray-700: #4f6484;
$gray-500: #acb7ca;
$gray-300: #e5eaf5;

$black: #000000;
$white: #ffffff;

$teal-900: #009dbb;
$teal-700: #00bfe2;
$teal-500: #00d4fb;
$teal-300: #a9f2ff;

$pink-900: #c559b3;
$pink-700: #e07acf;
$pink-500: #f09fe2;
$pink-300: #faddf5;
