@charset 'utf-8';

h1,
h2,
h3 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.36;
}

h5 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.112rem;
}

h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.096rem;
}

p {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 1.4;
}
