@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

body,
input,
button {
  font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.36;
}

h5 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.112rem;
}

h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.096rem;
}

p {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.4;
}
