@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../../assets/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

body,
input,
button,
select {
  font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
strong {
  font-family: 'Gilroy', sans-serif;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.5;
}

h2 {
  font-size: 4rem;
  line-height: 1.5;
}

h3 {
  font-size: 3.2rem;
  line-height: 1.5;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.36;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.112rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.096rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

label {
  font-size: 1.3rem;
  line-height: normal;
}
